In [1]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from pylab import mpl
mpl.rcParams['font.sans-serif'] = ['SimHei']  #解决seaborn中文字体显示问题
plt.rc('figure', figsize=(10, 10))  #把plt默认的图片size调大一点
%matplotlib inline

In [3]:
name = pd.read_csv('f:/test/data/NationalNames.csv')

In [4]:
name.head()

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746

In [5]:
name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1924665 entries, 0 to 1924664
Data columns (total 5 columns):
Id        int64
Name      object
Year      int64
Gender    object
Count     int64
dtypes: int64(3), object(2)
memory usage: 58.7+ MB

In [6]:
name.describe()

                 Id          Year         Count
count  1.924665e+06  1.924665e+06  1.924665e+06
mean   9.623330e+05  1.974851e+03  1.808733e+02
std    5.556031e+05  3.402948e+01  1.533337e+03
min    1.000000e+00  1.880000e+03  5.000000e+00
25%    4.811670e+05  1.951000e+03  7.000000e+00
50%    9.623330e+05  1.985000e+03  1.200000e+01
75%    1.443499e+06  2.003000e+03  3.200000e+01
max    1.924665e+06  2.017000e+03  9.968600e+04

# 切片

In [7]:
name.loc[1:10,'Name':'Count']

         Name  Year Gender  Count
1        Anna  1880      F   2604
2        Emma  1880      F   2003
3   Elizabeth  1880      F   1939
4      Minnie  1880      F   1746
5    Margaret  1880      F   1578
6         Ida  1880      F   1472
7       Alice  1880      F   1414
8      Bertha  1880      F   1320
9       Sarah  1880      F   1288
10      Annie  1880      F   1258

# 条件查找和赋值
* 选出姓名为Anna的

In [8]:
name[(name.Name == 'Anna')].tail()

              Id  Name  Year Gender  Count
1855918  1855919  Anna  2015      M      6
1859265  1859266  Anna  2016      F   4775
1890308  1890309  Anna  2016      M      5
1892248  1892249  Anna  2017      F   4520
1919342  1919343  Anna  2017      M      8

* 反转
* 加```~```

In [9]:
name[~(name.Count<90000)]

            Id     Name  Year Gender  Count
431064  431065    Linda  1947      F  99686
437167  437168    James  1947      M  94756
437168  437169   Robert  1947      M  91642
441435  441436    Linda  1948      F  96209
451674  451675    Linda  1949      F  91016
533158  533159  Michael  1956      M  90620
544620  544621  Michael  1957      M  92695
556194  556195  Michael  1958      M  90520

## 多条件查找
## 布尔列表
* | 或
* & 且
* ^ 异或

In [10]:
name[(name.Name == 'Anna') & (name.Count > 15000)]

            Id  Name  Year Gender  Count
119726  119727  Anna  1915      F  15119
129083  129084  Anna  1916      F  15228
138779  138780  Anna  1917      F  15160
148696  148697  Anna  1918      F  15666

## query()查询

In [11]:
name.query("(Name == 'Anna') & (Count > 15000)")

            Id  Name  Year Gender  Count
119726  119727  Anna  1915      F  15119
129083  129084  Anna  1916      F  15228
138779  138780  Anna  1917      F  15160
148696  148697  Anna  1918      F  15666

## .loc[]查询

In [12]:
name.loc[(name.Name == 'Anna') & (name.Count > 15000),['Name','Count']]

        Name  Count
119726  Anna  15119
129083  Anna  15228
138779  Anna  15160
148696  Anna  15666

## 赋值

In [13]:
name.loc[(name.Name == 'Anna') & (name.Count > 15000),'Name']='Ann'

In [14]:
name.loc[(name.Name == 'Ann') & (name.Count > 15000),['Name','Count']]

       Name  Count
119726  Ann  15119
129083  Ann  15228
138779  Ann  15160
148696  Ann  15666

In [15]:
name.iloc[1:3,1] = 'Ann'

In [16]:
name.iloc[1:3]

   Id Name  Year Gender  Count
1   2  Ann  1880      F   2604
2   3  Ann  1880      F   2003

# 美国航班数据

In [17]:
usaf = pd.read_csv('usa_flights.csv')

In [18]:
usaf.head()

,flight_date,unique_carrier,flight_num,origin,dest,arr_delay,cancelled,distance,carrier_delay,weather_delay,late_aircraft_delay,nas_delay,security_delay,actual_elapsed_time
0,02/01/2015 0:00,AA,1,JFK,LAX,-19.0,0,2475,NaN,NaN,NaN,NaN,NaN,381.0
1,03/01/2015 0:00,AA,1,JFK,LAX,-39.0,0,2475,NaN,NaN,NaN,NaN,NaN,358.0
2,04/01/2015 0:00,AA,1,JFK,LAX,-12.0,0,2475,NaN,NaN,NaN,NaN,NaN,385.0
3,05/01/2015 0:00,AA,1,JFK,LAX,-8.0,0,2475,NaN,NaN,NaN,NaN,NaN,389.0
4,06/01/2015 0:00,AA,1,JFK,LAX,25.0,0,2475,0.0,0.0,0.0,25.0,0.0,424.0

In [19]:
usaf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201664 entries, 0 to 201663
Data columns (total 14 columns):
flight_date            201664 non-null object
unique_carrier         201664 non-null object
flight_num             201664 non-null int64
origin                 201664 non-null object
dest                   201664 non-null object
arr_delay              196347 non-null float64
cancelled              201664 non-null int64
distance               201664 non-null int64
carrier_delay          58533 non-null float64
weather_delay          58533 non-null float64
late_aircraft_delay    58533 non-null float64
nas_delay              58533 non-null float64
security_delay         58533 non-null float64
actual_elapsed_time    196347 non-null float64
dtypes: float64(7), int64(3), object(4)
memory usage: 18.5+ MB

* 没有延误的航班
* 排名前十的

In [20]:
usa = usaf.sort_values('arr_delay',ascending=False)

In [21]:
usa.loc[usa.arr_delay<=0][-10:]

,flight_date,unique_carrier,flight_num,origin,dest,arr_delay,cancelled,distance,carrier_delay,weather_delay,late_aircraft_delay,nas_delay,security_delay,actual_elapsed_time
131348,13/01/2015 0:00,UA,512,JFK,SFO,-62.0,0,2586,NaN,NaN,NaN,NaN,NaN,342.0
60872,14/01/2015 0:00,VX,413,JFK,LAX,-64.0,0,2475,NaN,NaN,NaN,NaN,NaN,334.0
38853,04/01/2015 0:00,DL,2332,SFO,ATL,-65.0,0,2139,NaN,NaN,NaN,NaN,NaN,263.0
56191,14/01/2015 0:00,DL,435,JFK,SFO,-66.0,0,2586,NaN,NaN,NaN,NaN,NaN,343.0
56185,14/01/2015 0:00,DL,427,JFK,LAX,-66.0,0,2475,NaN,NaN,NaN,NaN,NaN,332.0
12,14/01/2015 0:00,AA,1,JFK,LAX,-69.0,0,2475,NaN,NaN,NaN,NaN,NaN,330.0
58290,14/01/2015 0:00,DL,877,IND,LAX,-69.0,0,1814,NaN,NaN,NaN,NaN,NaN,229.0
60697,13/01/2015 0:00,VX,29,JFK,SFO,-70.0,0,2586,NaN,NaN,NaN,NaN,NaN,348.0
49193,11/01/2015 0:00,DL,420,JFK,HNL,-72.0,0,4983,NaN,NaN,NaN,NaN,NaN,646.0
26436,09/01/2015 0:00,B6,808,STT,BOS,-74.0,0,1693,NaN,NaN,NaN,NaN,NaN,244.0

In [22]:
usa['延误'] = usa.arr_delay

In [23]:
usa.tail()

,flight_date,unique_carrier,flight_num,origin,dest,arr_delay,cancelled,distance,carrier_delay,weather_delay,late_aircraft_delay,nas_delay,security_delay,actual_elapsed_time,延误
201554,06/01/2015 0:00,NK,174,FLL,LGA,NaN,1,1076,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201594,07/01/2015 0:00,NK,180,FLL,LGA,NaN,1,1076,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201642,06/01/2015 0:00,NK,188,LGA,MYR,NaN,1,563,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201643,07/01/2015 0:00,NK,188,LGA,MYR,NaN,1,563,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201648,12/01/2015 0:00,NK,188,LGA,MYR,NaN,1,563,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* 统计航班延误率

In [24]:
usa.loc[(usa['延误'] <= 0) & usa['延误'].notnull()] = 0# 未延误

In [25]:
usa.loc[(usa['延误'] > 0) & usa['延误'].notnull()] = 1 # 延误

In [26]:
usa.head()

,flight_date,unique_carrier,flight_num,origin,dest,arr_delay,cancelled,distance,carrier_delay,weather_delay,late_aircraft_delay,nas_delay,security_delay,actual_elapsed_time,延误
11073,1,1,1,1,1,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0
10214,1,1,1,1,1,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0
12430,1,1,1,1,1,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0
8443,1,1,1,1,1,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0
10328,1,1,1,1,1,1.0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [27]:
usa['延误'].value_counts()

1.0    98627
0.0    97720
Name: 延误, dtype: int64

# 排序
* sort_values(by)
* sort_index()

In [28]:
usa.sort_values('distance',ascending=False).head()

,flight_date,unique_carrier,flight_num,origin,dest,arr_delay,cancelled,distance,carrier_delay,weather_delay,late_aircraft_delay,nas_delay,security_delay,actual_elapsed_time,延误
143625,02/01/2015 0:00,UA,14,HNL,EWR,NaN,1,4962,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131643,14/01/2015 0:00,UA,219,ORD,HNL,NaN,1,4243,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131641,14/01/2015 0:00,UA,218,HNL,ORD,NaN,1,4243,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493,06/01/2015 0:00,AA,123,DFW,HNL,NaN,0,3784,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,03/01/2015 0:00,AA,6,OGG,DFW,NaN,1,3711,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
usa['rank'] = usa.distance.rank(method='first',ascending=False)

In [30]:
usa.sort_values('rank')

,flight_date,unique_carrier,flight_num,origin,dest,arr_delay,cancelled,distance,carrier_delay,weather_delay,late_aircraft_delay,nas_delay,security_delay,actual_elapsed_time,延误,rank
143625,02/01/2015 0:00,UA,14,HNL,EWR,NaN,1,4962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
131641,14/01/2015 0:00,UA,218,HNL,ORD,NaN,1,4243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
131643,14/01/2015 0:00,UA,219,ORD,HNL,NaN,1,4243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
493,06/01/2015 0:00,AA,123,DFW,HNL,NaN,0,3784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
66,03/01/2015 0:00,AA,6,OGG,DFW,NaN,1,3711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
79,03/01/2015 0:00,AA,7,DFW,OGG,NaN,1,3711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
458,02/01/2015 0:00,AA,119,DFW,OGG,NaN,1,3711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
141895,03/01/2015 0:00,UA,383,HNL,DEN,NaN,1,3365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
149499,03/01/2015 0:00,US,690,PHX,HNL,NaN,0,2917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
151191,05/01/2015 0:00,US,675,HNL,PHX,NaN,1,2917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
151221,05/01/2015 0:00,US,698,PHX,HNL,NaN,1,2917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0
142962,05/01/2015 0:00,UA,1651,ORD,ANC,NaN,0,2846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0
14111,06/01/2015 0:00,AA,1651,MIA,SEA,NaN,0,2724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0
14112,07/01/2015 0:00,AA,1651,MIA,SEA,NaN,0,2724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0
17947,06/01/2015 0:00,AS,35,FLL,SEA,NaN,0,2717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0
20566,07/01/2015 0:00,AS,898,HNL,BLI,NaN,0,2715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0
139938,08/01/2015 0:00,UA,1263,SFO,BOS,NaN,1,2704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0
186517,14/01/2015 0:00,HA,22,HNL,SEA,NaN,0,2677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0
32349,02/01/2015 0:00,DL,432,JFK,SFO,NaN,0,2586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0
37689,04/01/2015 0:00,DL,430,JFK,SFO,NaN,0,2586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0
1080,11/01/2015 0:00,AA,69,MIA,SFO,NaN,1,2585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0
1348,09/01/2015 0:00,AA,167,MIA,SFO,NaN,1,2585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0
2344,03/01/2015 0:00,AA,305,MIA,SFO,NaN,1,2585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0
3117,11/01/2015 0:00,AA,272,SFO,MIA,NaN,1,2585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0
32031,08/01/2015 0:00,AA,931,SFO,MIA,NaN,1,2585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0
59410,05/01/2015 0:00,B6,167,JFK,OAK,NaN,0,2576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0
136290,09/01/2015 0:00,UA,1437,EWR,SFO,NaN,1,2565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0
140339,08/01/2015 0:00,UA,1732,SFO,EWR,NaN,1,2565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0
368,13/01/2015 0:00,AA,31,LAX,HNL,NaN,0,2556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0
3386,02/01/2015 0:00,AA,297,LAX,HNL,NaN,0,2556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60843,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201635.0
159897,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201636.0
22048,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201637.0
444,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201638.0
1287,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201639.0
57441,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201640.0
116,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201641.0
79991,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201642.0
58140,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201643.0
59500,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201644.0
395,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201645.0
19666,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201646.0
131860,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201647.0
57229,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201648.0
28705,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201649.0
25762,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201650.0
60677,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201651.0
59995,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201652.0
20512,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201653.0
20684,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201654.0
131348,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201655.0
60872,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201656.0
38853,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201657.0
56191,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201658.0
56185,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201659.0
12,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201660.0
58290,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201661.0
60697,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201662.0
49193,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201663.0
26436,0,0,0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201664.0

# 分箱
pandas.cut(x, bins, right=True, labels=None, retbins=False, precision=3, include_lowest=False)

参数：
* x，类array对象，且必须为一维，待切割的原形式
* bins, 整数、序列尺度、或间隔索引。如果bins是一个整数，它定义了x宽度范围内的等宽面元数量，但是在这种情况下，x的范围在每个边上被延长1%，以保证* 包括x的最小值或最大值。如果bin是序列，它定义了允许非均匀bin宽度的bin边缘。在这种情况下没有x的范围的扩展。
* right,布尔值。是否是左开右闭区间
* labels,用作结果箱的标签。必须与结果箱相同长度。如果FALSE，只返回整数指标面元。
* retbins,布尔值。是否返回面元
* precision，整数。返回面元的小数点几位
* include_lowest，布尔值。第一个区间的左端点是否包含
--------------------- 
作者：Xzchen555 
来源：CSDN 
原文：https://blog.csdn.net/cc_jjj/article/details/78878878 
版权声明：本文为博主原创文章，转载请附上博文链接！

In [31]:
bins = [0,100,300,500,1000]
labels = list('甲乙丙丁')

In [32]:
usa['cuts'] = pd.cut(usa['rank'],bins,labels=labels)

In [33]:
pd.cut(usa['rank'],bins=10,include_lowest=True)

11073     (-200.66400000000002, 20167.3]
10214     (-200.66400000000002, 20167.3]
12430     (-200.66400000000002, 20167.3]
8443      (-200.66400000000002, 20167.3]
10328     (-200.66400000000002, 20167.3]
36570     (-200.66400000000002, 20167.3]
36495     (-200.66400000000002, 20167.3]
59072     (-200.66400000000002, 20167.3]
32173     (-200.66400000000002, 20167.3]
56488     (-200.66400000000002, 20167.3]
52441     (-200.66400000000002, 20167.3]
53864     (-200.66400000000002, 20167.3]
14745     (-200.66400000000002, 20167.3]
53863     (-200.66400000000002, 20167.3]
35702     (-200.66400000000002, 20167.3]
13209     (-200.66400000000002, 20167.3]
129594    (-200.66400000000002, 20167.3]
44319     (-200.66400000000002, 20167.3]
827       (-200.66400000000002, 20167.3]
34627     (-200.66400000000002, 20167.3]
115065    (-200.66400000000002, 20167.3]
8785      (-200.66400000000002, 20167.3]
3286      (-200.66400000000002, 20167.3]
11226     (-200.66400000000002, 20167.3]
139064    (-200.66400000000002, 20167.3]
14750     (-200.66400000000002, 20167.3]
186113    (-200.66400000000002, 20167.3]
111959    (-200.66400000000002, 20167.3]
36249     (-200.66400000000002, 20167.3]
190694    (-200.66400000000002, 20167.3]
                       ...
200947    (-200.66400000000002, 20167.3]
200948    (-200.66400000000002, 20167.3]
200955    (-200.66400000000002, 20167.3]
200956    (-200.66400000000002, 20167.3]
200957    (-200.66400000000002, 20167.3]
200966    (-200.66400000000002, 20167.3]
201001    (-200.66400000000002, 20167.3]
201010    (-200.66400000000002, 20167.3]
201022    (-200.66400000000002, 20167.3]
201023    (-200.66400000000002, 20167.3]
201027    (-200.66400000000002, 20167.3]
201069    (-200.66400000000002, 20167.3]
201126    (-200.66400000000002, 20167.3]
201306    (-200.66400000000002, 20167.3]
201320    (-200.66400000000002, 20167.3]
201321    (-200.66400000000002, 20167.3]
201323    (-200.66400000000002, 20167.3]
201329    (-200.66400000000002, 20167.3]
201330    (-200.66400000000002, 20167.3]
201332    (-200.66400000000002, 20167.3]
201339    (-200.66400000000002, 20167.3]
201412    (-200.66400000000002, 20167.3]
201444    (-200.66400000000002, 20167.3]
201476    (-200.66400000000002, 20167.3]
201526    (-200.66400000000002, 20167.3]
201554    (-200.66400000000002, 20167.3]
201594    (-200.66400000000002, 20167.3]
201642    (-200.66400000000002, 20167.3]
201643    (-200.66400000000002, 20167.3]
201648    (-200.66400000000002, 20167.3]
Name: rank, Length: 201664, dtype: category
Categories (10, interval[float64]): [(-200.66400000000002, 20167.3] < (20167.3, 40333.6] < (40333.6, 60499.9] < (60499.9, 80666.2] ... (120998.8, 141165.1] < (141165.1, 161331.4] < (161331.4, 181497.7] < (181497.7, 201664.0]]

In [34]:
usa.cuts.value_counts()

丁    500
丙    200
乙    200
甲    100
Name: cuts, dtype: int64

# pandas.qcut——分位法
pandas.qcut(x, q, labels=None, retbins=False, precision=3, duplicates=’raise’)

参数：
1. x 
2. q,整数或分位数组成的数组。 
3. labels, 
4. retbins 
5. precisoon 
6. duplicates 
* 结果中超过边界的值将会变成NA
--------------------- 
作者：Xzchen555 
来源：CSDN 
原文：https://blog.csdn.net/cc_jjj/article/details/78878878 
版权声明：本文为博主原创文章，转载请附上博文链接！

In [35]:
pd.qcut(usa['rank'],4,labels=['一','二','三','四'])

11073     一
10214     一
12430     一
8443      一
10328     一
36570     一
36495     一
59072     一
32173     一
56488     一
52441     一
53864     一
14745     一
53863     一
35702     一
13209     一
129594    一
44319     一
827       一
34627     一
115065    一
8785      一
3286      一
11226     一
139064    一
14750     一
186113    一
111959    一
36249     一
190694    一
         ..
200947    一
200948    一
200955    一
200956    一
200957    一
200966    一
201001    一
201010    一
201022    一
201023    一
201027    一
201069    一
201126    一
201306    一
201320    一
201321    一
201323    一
201329    一
201330    一
201332    一
201339    一
201412    一
201444    一
201476    一
201526    一
201554    一
201594    一
201642    一
201643    一
201648    一
Name: rank, Length: 201664, dtype: category
Categories (4, object): [一 < 二 < 三 < 四]

In [36]:
pd.qcut(usa['rank'],4)

11073     (0.999, 50416.75]
10214     (0.999, 50416.75]
12430     (0.999, 50416.75]
8443      (0.999, 50416.75]
10328     (0.999, 50416.75]
36570     (0.999, 50416.75]
36495     (0.999, 50416.75]
59072     (0.999, 50416.75]
32173     (0.999, 50416.75]
56488     (0.999, 50416.75]
52441     (0.999, 50416.75]
53864     (0.999, 50416.75]
14745     (0.999, 50416.75]
53863     (0.999, 50416.75]
35702     (0.999, 50416.75]
13209     (0.999, 50416.75]
129594    (0.999, 50416.75]
44319     (0.999, 50416.75]
827       (0.999, 50416.75]
34627     (0.999, 50416.75]
115065    (0.999, 50416.75]
8785      (0.999, 50416.75]
3286      (0.999, 50416.75]
11226     (0.999, 50416.75]
139064    (0.999, 50416.75]
14750     (0.999, 50416.75]
186113    (0.999, 50416.75]
111959    (0.999, 50416.75]
36249     (0.999, 50416.75]
190694    (0.999, 50416.75]
                ...
200947    (0.999, 50416.75]
200948    (0.999, 50416.75]
200955    (0.999, 50416.75]
200956    (0.999, 50416.75]
200957    (0.999, 50416.75]
200966    (0.999, 50416.75]
201001    (0.999, 50416.75]
201010    (0.999, 50416.75]
201022    (0.999, 50416.75]
201023    (0.999, 50416.75]
201027    (0.999, 50416.75]
201069    (0.999, 50416.75]
201126    (0.999, 50416.75]
201306    (0.999, 50416.75]
201320    (0.999, 50416.75]
201321    (0.999, 50416.75]
201323    (0.999, 50416.75]
201329    (0.999, 50416.75]
201330    (0.999, 50416.75]
201332    (0.999, 50416.75]
201339    (0.999, 50416.75]
201412    (0.999, 50416.75]
201444    (0.999, 50416.75]
201476    (0.999, 50416.75]
201526    (0.999, 50416.75]
201554    (0.999, 50416.75]
201594    (0.999, 50416.75]
201642    (0.999, 50416.75]
201643    (0.999, 50416.75]
201648    (0.999, 50416.75]
Name: rank, Length: 201664, dtype: category
Categories (4, interval[float64]): [(0.999, 50416.75] < (50416.75, 100832.5] < (100832.5, 151248.25] < (151248.25, 201664.0]]

# 描述统计
* .describe()
* .std()标准差
* .var()方差
* .mean()均值
* .median()中位数

In [37]:
usa.describe()

,flight_num,arr_delay,cancelled,distance,carrier_delay,weather_delay,late_aircraft_delay,nas_delay,security_delay,actual_elapsed_time,延误,rank
count,201664.000000,196347.000000,201664.000000,201664.000000,196347.000000,196347.000000,196347.000000,196347.000000,196347.000000,196347.000000,196347.000000,201664.00000
mean,84.587537,0.502310,0.512823,15.189950,0.502310,0.502310,0.502310,0.502310,0.502310,0.502310,0.502310,100832.50000
std,590.004818,0.499996,0.499837,115.038024,0.499996,0.499996,0.499996,0.499996,0.499996,0.499996,0.499996,58215.52668
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50416.75000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,100832.50000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,151248.25000
max,7433.000000,1.000000,1.000000,4962.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,201664.00000

In [38]:
usa.var()# 方差

flight_num             3.481057e+05
arr_delay              2.499959e-01
cancelled              2.498368e-01
distance               1.323375e+04
carrier_delay          2.499959e-01
weather_delay          2.499959e-01
late_aircraft_delay    2.499959e-01
nas_delay              2.499959e-01
security_delay         2.499959e-01
actual_elapsed_time    2.499959e-01
延误                     2.499959e-01
rank                   3.389048e+09
dtype: float64

In [39]:
usa.arr_delay.var() #方差

0.24999593858452934

In [40]:
usa.std()# 标准差

flight_num               590.004818
arr_delay                  0.499996
cancelled                  0.499837
distance                 115.038024
carrier_delay              0.499996
weather_delay              0.499996
late_aircraft_delay        0.499996
nas_delay                  0.499996
security_delay             0.499996
actual_elapsed_time        0.499996
延误                         0.499996
rank                   58215.526680
dtype: float64

In [41]:
usa.arr_delay.describe()

count    196347.000000
mean          0.502310
std           0.499996
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: arr_delay, dtype: float64

In [42]:
usa.count()

flight_date            201664
unique_carrier         201664
flight_num             201664
origin                 201664
dest                   201664
arr_delay              196347
cancelled              201664
distance               201664
carrier_delay          196347
weather_delay          196347
late_aircraft_delay    196347
nas_delay              196347
security_delay         196347
actual_elapsed_time    196347
延误                     196347
rank                   201664
cuts                     1000
dtype: int64

In [43]:
usa.arr_delay.count()

196347

In [44]:
usa.sum()

flight_num             1.705826e+07
arr_delay              9.862700e+04
cancelled              1.034180e+05
distance               3.063266e+06
carrier_delay          9.862700e+04
weather_delay          9.862700e+04
late_aircraft_delay    9.862700e+04
nas_delay              9.862700e+04
security_delay         9.862700e+04
actual_elapsed_time    9.862700e+04
延误                     9.862700e+04
rank                   2.033429e+10
dtype: float64

In [45]:
usa.mean() # 均值

flight_num                 84.587537
arr_delay                   0.502310
cancelled                   0.512823
distance                   15.189950
carrier_delay               0.502310
weather_delay               0.502310
late_aircraft_delay         0.502310
nas_delay                   0.502310
security_delay              0.502310
actual_elapsed_time         0.502310
延误                          0.502310
rank                   100832.500000
dtype: float64

In [46]:
usa.median()# 中位数

flight_num                  1.0
arr_delay                   1.0
cancelled                   1.0
distance                    1.0
carrier_delay               1.0
weather_delay               1.0
late_aircraft_delay         1.0
nas_delay                   1.0
security_delay              1.0
actual_elapsed_time         1.0
延误                          1.0
rank                   100832.5
dtype: float64

In [47]:
usa['rank'].cumsum()# 累加

11073     5.318000e+03
10214     1.063700e+04
12430     1.595700e+04
8443      2.127800e+04
10328     2.660000e+04
36570     3.192300e+04
36495     3.724700e+04
59072     4.257200e+04
32173     4.789800e+04
56488     5.322500e+04
52441     5.855300e+04
53864     6.388200e+04
14745     6.921200e+04
53863     7.454300e+04
35702     7.987500e+04
13209     8.520800e+04
129594    9.054200e+04
44319     9.587700e+04
827       1.012130e+05
34627     1.065500e+05
115065    1.118880e+05
8785      1.172270e+05
3286      1.225670e+05
11226     1.279080e+05
139064    1.332500e+05
14750     1.385930e+05
186113    1.439370e+05
111959    1.492820e+05
36249     1.546280e+05
190694    1.599750e+05
              ...
200947    2.033423e+10
200948    2.033423e+10
200955    2.033423e+10
200956    2.033423e+10
200957    2.033423e+10
200966    2.033424e+10
201001    2.033424e+10
201010    2.033424e+10
201022    2.033424e+10
201023    2.033425e+10
201027    2.033425e+10
201069    2.033425e+10
201126    2.033425e+10
201306    2.033425e+10
201320    2.033425e+10
201321    2.033426e+10
201323    2.033426e+10
201329    2.033426e+10
201330    2.033426e+10
201332    2.033427e+10
201339    2.033427e+10
201412    2.033427e+10
201444    2.033427e+10
201476    2.033428e+10
201526    2.033428e+10
201554    2.033428e+10
201594    2.033428e+10
201642    2.033428e+10
201643    2.033428e+10
201648    2.033429e+10
Name: rank, Length: 201664, dtype: float64

# 分组groupby

In [48]:
usa_gr = usa.groupby('unique_carrier')

In [49]:
usa_gr.groups

{0: Int64Index([136464,  14099, 132248, 185057,  20591,  85629,  75460,  68276,
              34975, 117217,
             ...
             131348,  60872,  38853,  56191,  56185,     12,  58290,  60697,
              49193,  26436],
            dtype='int64', length=97720),
 1: Int64Index([ 11073,  10214,  12430,   8443,  10328,  36570,  36495,  59072,
              32173,  56488,
             ...
              12162, 127325,  12129,  17825,  16663,  73164,  72510, 153189,
              64853,  17277],
            dtype='int64', length=98627),
 'AA': Int64Index([   66,    79,   145,   306,   368,   406,   458,   493,   611,
               623,
             ...
             32004, 32017, 32021, 32031, 32109, 59173, 59185, 59211, 59256,
             59266],
            dtype='int64', length=335),
 'AS': Int64Index([17947, 18373, 18374, 18393, 18396, 18403, 18406, 18551, 18552,
             18553, 18559, 18846, 19652, 20566, 20682, 20729, 20777, 20782,
             20888, 20923, 21080, 21084, 21086, 21088, 21089, 21090, 21323,
             22182, 22213, 22757, 22831, 22834, 22901, 23179, 23186],
            dtype='int64'),
 'B6': Int64Index([ 23367,  23479,  23482,  23491,  23795,  23828,  24038,  24177,
              24204,  24402,  24429,  24432,  24784,  24941,  25050,  25199,
              25252,  25296,  25330,  25583,  25618,  25621,  25648,  25820,
              26190,  26215,  26219,  26410,  26655,  26668,  26678,  26691,
              26807,  26812,  27006,  27234,  27238,  27254,  27342,  27362,
              27438,  27443,  27451,  27766,  28052,  28140,  28181,  28248,
              28603,  28615,  28923,  29001,  29071,  29183,  29201,  29234,
              29264,  29287,  29292,  29300,  29305,  29464,  29565,  29594,
              29879,  29893,  29901,  30047,  30072,  30243,  30256,  30404,
              30423,  30646,  30671,  30677,  31084,  31097,  32661,  33651,
              59377,  59410, 160544, 160677],
            dtype='int64'),
 'DL': Int64Index([ 31800,  32349,  32453,  33017,  34006,  34007,  34240,  34241,
              34840,  35318,  35659,  35688,  35689,  35837,  36093,  36313,
              36667,  36942,  37170,  37505,  37537,  37689,  39064,  39517,
              39576,  40324,  41441,  41551,  42558,  44615,  44976,  46457,
              46653,  46706,  46715,  46718,  46821,  47161,  47162,  48622,
              48788,  49251,  50207,  50311,  50316,  50317,  50318,  50321,
              50324,  50980,  50998,  52588,  52649,  52676,  52677,  52727,
              52739,  52775,  52819,  53094,  53299,  53413,  53557,  53602,
              53987,  54061,  54105,  54762,  54960,  55026,  55040,  55041,
              55662,  55856,  55954,  55956,  56344,  56486,  56513,  56818,
              56972,  56974,  56994,  56995,  57414,  57451,  58114,  58134,
              58343, 174417],
            dtype='int64'),
 'EV': Int64Index([111289, 113381, 113411, 113426, 113427, 113486, 160924, 160925,
             160926, 160947,
             ...
             198815, 198821, 198825, 198847, 198878, 198897, 198898, 198935,
             198941, 198998],
            dtype='int64', length=911),
 'F9': Int64Index([182870, 182871, 182872, 182873, 182874, 183025, 183117, 183118,
             183119, 183120, 183121, 183122, 183123, 183124, 183125, 183126,
             183127, 183128, 183129, 183130, 183131, 183132, 183381, 183382,
             183383, 183630, 184481, 184517, 184518, 184519, 184520, 184915,
             184916, 185169, 185170, 185171, 185172, 185173, 185174, 185175,
             185176, 185177, 185178, 185238, 185327, 185361, 185362, 185427,
             185515, 185817],
            dtype='int64'),
 'HA': Int64Index([120003, 186092, 186362, 186517, 186607, 186768, 188881, 188912,
             188925, 189067, 189093, 189107, 189145, 189197],
            dtype='int64'),
 'MQ': Int64Index([107150, 107151, 107153, 107154, 107164, 107169, 107170, 107191,
             107204, 107207,
             ...
             201320, 201321, 201323, 201329, 201330, 201332, 201339, 201412,
             201444, 201476],
            dtype='int64', length=1477),
 'NK': Int64Index([106912, 106988, 106995, 107088, 107270, 107317, 107330, 107447,
             107568, 107620, 107635, 107652, 107845, 107962, 108044, 108384,
             108401, 108507, 108526, 108731, 109291, 109337, 109374, 109497,
             111293, 111372, 111373, 111378, 111458, 111471, 111484, 111524,
             111647, 111695, 201069, 201126, 201306, 201526, 201554, 201594,
             201642, 201643, 201648],
            dtype='int64'),
 'OO': Int64Index([109695, 109757, 109758, 109860, 109861, 109862, 109864, 109899,
             110019, 110037,
             ...
             138177, 138185, 138250, 138254, 138267, 138307, 160247, 160297,
             160322, 160340],
            dtype='int64', length=947),
 'UA': Int64Index([ 77116,  77142,  77329,  86822,  86878,  86907,  86943,  87016,
             131102, 131641,
             ...
             148231, 148276, 148402, 148538, 148563, 148590, 148646, 152703,
             152713, 152735],
            dtype='int64', length=175),
 'US': Int64Index([ 59647,  59736,  59764,  59769,  59772,  59777,  59780,  59785,
              97268,  97304,
             ...
             159782, 159821, 159853, 159877, 159903, 159962, 159969, 160053,
             160189, 160194],
            dtype='int64', length=231),
 'VX': Int64Index([60365, 60469, 60471, 60475, 61265, 61272], dtype='int64'),
 'WN': Int64Index([ 62238,  62245,  62397,  62458,  62459,  62667,  62979,  63174,
              63177,  63195,
             ...
             106660, 106663, 106673, 106675, 106680, 106682, 106690, 106729,
             106735, 106737],
            dtype='int64', length=919)}

* 切片

In [50]:
usa_gr.get_group('UA')

,flight_date,unique_carrier,flight_num,origin,dest,arr_delay,cancelled,distance,carrier_delay,weather_delay,late_aircraft_delay,nas_delay,security_delay,actual_elapsed_time,延误,rank,cuts
77116,14/01/2015 0:00,UA,428,IAH,IAD,NaN,1,1190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,387.0,丙
77142,14/01/2015 0:00,UA,464,IAH,EWR,NaN,0,1400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263.0,乙
77329,14/01/2015 0:00,UA,743,EWR,ATL,NaN,1,746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1189.0,NaN
86822,03/01/2015 0:00,UA,1409,EWR,RSW,NaN,1,1068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,533.0,丁
86878,03/01/2015 0:00,UA,1483,IAH,BOS,NaN,0,1597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,174.0,乙
86907,03/01/2015 0:00,UA,1530,ORD,LAX,NaN,1,1744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128.0,乙
86943,03/01/2015 0:00,UA,1566,ORD,SEA,NaN,0,1721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,乙
87016,03/01/2015 0:00,UA,1644,BOS,IAH,NaN,0,1597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175.0,乙
131102,13/01/2015 0:00,UA,248,IND,IAH,NaN,1,844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,981.0,丁
131641,14/01/2015 0:00,UA,218,HNL,ORD,NaN,1,4243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,甲
131643,14/01/2015 0:00,UA,219,ORD,HNL,NaN,1,4243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,甲
131689,14/01/2015 0:00,UA,265,ATL,EWR,NaN,1,746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1190.0,NaN
132011,11/01/2015 0:00,UA,505,ORD,MSY,NaN,0,837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,997.0,丁
132131,11/01/2015 0:00,UA,673,RSW,EWR,NaN,1,1068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,538.0,丁
132179,11/01/2015 0:00,UA,746,LAX,SFO,NaN,1,337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3313.0,NaN
132197,11/01/2015 0:00,UA,769,SFO,LAX,NaN,1,337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3314.0,NaN
132653,12/01/2015 0:00,UA,1038,CLE,MCO,NaN,0,895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,867.0,丁
132968,12/01/2015 0:00,UA,1282,LGA,ORD,NaN,1,733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1282.0,NaN
133193,12/01/2015 0:00,UA,1596,ORD,LGA,NaN,1,733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1283.0,NaN
133334,12/01/2015 0:00,UA,1724,KOA,SFO,NaN,0,2367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,甲
133414,11/01/2015 0:00,UA,208,OMA,IAH,NaN,1,781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1098.0,NaN
133981,10/01/2015 0:00,UA,1093,EWR,DEN,NaN,0,1605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,170.0,乙
134664,07/01/2015 0:00,UA,812,SEA,DEN,NaN,1,1024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,580.0,丁
135444,12/01/2015 0:00,UA,798,IAD,ORD,NaN,1,589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1903.0,NaN
135564,09/01/2015 0:00,UA,417,OGG,LAX,NaN,1,2486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,甲
135601,09/01/2015 0:00,UA,463,LGA,ORD,NaN,1,733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1284.0,NaN
135672,09/01/2015 0:00,UA,545,IAH,ORD,NaN,1,925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,794.0,丁
135676,09/01/2015 0:00,UA,555,BOS,ORD,NaN,1,867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,912.0,丁
135720,09/01/2015 0:00,UA,616,ORD,DCA,NaN,1,612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1716.0,NaN
135723,09/01/2015 0:00,UA,625,DCA,ORD,NaN,1,612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1717.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143509,04/01/2015 0:00,UA,572,AUS,IAH,NaN,1,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4859.0,NaN
143625,02/01/2015 0:00,UA,14,HNL,EWR,NaN,1,4962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,甲
143630,02/01/2015 0:00,UA,73,SFO,HNL,NaN,0,2398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,甲
143802,02/01/2015 0:00,UA,321,MSP,DEN,NaN,1,680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1437.0,NaN
143831,02/01/2015 0:00,UA,344,IAH,LGA,NaN,1,1416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,256.0,乙
143864,02/01/2015 0:00,UA,370,SFO,SEA,NaN,0,679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1445.0,NaN
143986,02/01/2015 0:00,UA,504,LAX,MSY,NaN,0,1670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162.0,乙
144114,02/01/2015 0:00,UA,670,EWR,LAX,NaN,0,2454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,甲
144280,04/01/2015 0:00,UA,1045,BWI,LAX,NaN,1,2329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0,甲
144404,04/01/2015 0:00,UA,1162,BQN,EWR,NaN,1,1585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183.0,乙
144541,04/01/2015 0:00,UA,1284,EWR,MCO,NaN,0,937,NaN,NaN,NaN,NaN,NaN,NaN,NaN,752.0,丁
144773,04/01/2015 0:00,UA,1619,RSW,EWR,NaN,1,1068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,539.0,丁
145038,03/01/2015 0:00,UA,269,LGA,IAH,NaN,1,1416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,257.0,乙
145077,03/01/2015 0:00,UA,300,SFO,HNL,NaN,1,2398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,甲
145634,02/01/2015 0:00,UA,833,BOI,DEN,NaN,1,649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1528.0,NaN
146012,02/01/2015 0:00,UA,1292,DEN,IAH,NaN,0,862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,927.0,丁
147803,07/01/2015 0:00,UA,1110,DFW,ORD,NaN,1,802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1075.0,NaN
147941,07/01/2015 0:00,UA,1212,EWR,SEA,NaN,0,2402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,甲
148124,07/01/2015 0:00,UA,1481,EWR,PDX,NaN,0,2434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,甲
148208,07/01/2015 0:00,UA,1569,IAD,LAX,NaN,1,2288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.0,甲
148231,07/01/2015 0:00,UA,1594,DCA,IAH,NaN,1,1208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,367.0,丙
148276,07/01/2015 0:00,UA,1635,EWR,PHX,NaN,0,2133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0,甲
148402,07/01/2015 0:00,UA,1745,LAX,IAD,NaN,0,2288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0,甲
148538,06/01/2015 0:00,UA,276,ATL,EWR,NaN,1,746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1193.0,NaN
148563,06/01/2015 0:00,UA,297,EWR,ATL,NaN,1,746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1194.0,NaN
148590,06/01/2015 0:00,UA,323,PHL,DEN,NaN,1,1558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.0,乙
148646,06/01/2015 0:00,UA,371,ORD,SEA,NaN,0,1721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.0,乙
152703,09/01/2015 0:00,UA,1572,TPA,IAD,NaN,1,811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1052.0,NaN
152713,09/01/2015 0:00,UA,1579,LGA,ORD,NaN,1,733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1301.0,NaN
152735,09/01/2015 0:00,UA,1596,SMF,DEN,NaN,1,909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,840.0,丁

In [51]:
usa_gr.size()

unique_carrier
0     97720
1     98627
AA      335
AS       35
B6       84
DL       90
EV      911
F9       50
HA       14
MQ     1477
NK       43
OO      947
UA      175
US      231
VX        6
WN      919
dtype: int64

* 遍历

In [52]:
for k,v in usa_gr:
    print(k),print(len(v)),print(max(v.distance)),print(max(v.distance)-min(v.distance),end='**\n')

0
97720
0
0**
1
98627
1
0**
AA
335
3784
3609**
AS
35
2717
2686**
B6
84
2576
2348**
DL
90
2586
2422**
EV
911
1330
1261**
F9
50
2065
1674**
HA
14
2677
2577**
MQ
1477
1236
1147**
NK
43
1749
1491**
OO
947
1735
1668**
UA
175
4962
4822**
US
231
2917
2821**
VX
6
2381
1967**
WN
919
2139
1991**

# 多重索引

In [53]:
pk = pd.read_csv('Pokemon.csv',index_col='#')

In [54]:
pk.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## 创建多重索引
1. df.set_index(['','']),列变成索引
2. df.groupby(['',''])

In [55]:
pk.set_index(['Type 1','Type 2'])

                                      Name  Total   HP  Attack  Defense  \
Type 1   Type 2
Grass    Poison                  Bulbasaur    318   45      49       49
         Poison                    Ivysaur    405   60      62       63
         Poison                   Venusaur    525   80      82       83
         Poison      VenusaurMega Venusaur    625   80     100      123
Fire     NaN                    Charmander    309   39      52       43
         NaN                    Charmeleon    405   58      64       58
         Flying                  Charizard    534   78      84       78
         Dragon  CharizardMega Charizard X    634   78     130      111
         Flying  CharizardMega Charizard Y    634   78     104       78
Water    NaN                      Squirtle    314   44      48       65
         NaN                     Wartortle    405   59      63       80
         NaN                     Blastoise    530   79      83      100
         NaN       BlastoiseMega Blastoise    630   79     103      120
Bug      NaN                      Caterpie    195   45      30       35
         NaN                       Metapod    205   50      20       55
         Flying                 Butterfree    395   60      45       50
         Poison                     Weedle    195   40      35       30
         Poison                     Kakuna    205   45      25       50
         Poison                   Beedrill    395   65      90       40
         Poison      BeedrillMega Beedrill    495   65     150       40
Normal   Flying                     Pidgey    251   40      45       40
         Flying                  Pidgeotto    349   63      60       55
         Flying                    Pidgeot    479   83      80       75
         Flying        PidgeotMega Pidgeot    579   83      80       80
         NaN                       Rattata    253   30      56       35
         NaN                      Raticate    413   55      81       60
         Flying                    Spearow    262   40      60       30
         Flying                     Fearow    442   65      90       65
Poison   NaN                         Ekans    288   35      60       44
         NaN                         Arbok    438   60      85       69
...                                    ...    ...  ...     ...      ...
Fairy    NaN                       Sylveon    525   95      65       65
Fighting Flying                   Hawlucha    500   78      92       75
Electric Fairy                     Dedenne    431   67      58       57
Rock     Fairy                     Carbink    500   50      50      150
Dragon   NaN                         Goomy    300   45      50       35
         NaN                       Sliggoo    452   68      75       53
         NaN                        Goodra    600   90     100       70
Steel    Fairy                      Klefki    470   57      80       91
Ghost    Grass                    Phantump    309   43      70       48
         Grass                   Trevenant    474   85     110       76
         Grass       PumpkabooAverage Size    335   49      66       70
         Grass         PumpkabooSmall Size    335   44      66       70
         Grass         PumpkabooLarge Size    335   54      66       70
         Grass         PumpkabooSuper Size    335   59      66       70
         Grass       GourgeistAverage Size    494   65      90      122
         Grass         GourgeistSmall Size    494   55      85      122
         Grass         GourgeistLarge Size    494   75      95      122
         Grass         GourgeistSuper Size    494   85     100      122
Ice      NaN                      Bergmite    304   55      69       85
         NaN                       Avalugg    514   95     117      184
Flying   Dragon                     Noibat    245   40      30       35
         Dragon                    Noivern    535   85      70       80
Fairy    NaN                       Xerneas    680  126     131       95
Dark     Flying                    Yveltal    680  126     131       95
Dragon   Ground           Zygarde50% Forme    600  108     100      121
Rock     Fairy                     Diancie    600   50     100      150
         Fairy         DiancieMega Diancie    700   50     160      110
Psychic  Ghost         HoopaHoopa Confined    600   80     110       60
         Dark           HoopaHoopa Unbound    680   80     160       60
Fire     Water                   Volcanion    600   80     110      120

                 Sp. Atk  Sp. Def  Speed  Generation  Legendary
Type 1   Type 2
Grass    Poison       65       65     45           1      False
         Poison       80       80     60           1      False
         Poison      100      100     80           1      False
         Poison      122      120     80           1      False
Fire     NaN          60       50     65           1      False
         NaN          80       65     80           1      False
         Flying      109       85    100           1      False
         Dragon      130       85    100           1      False
         Flying      159      115    100           1      False
Water    NaN          50       64     43           1      False
         NaN          65       80     58           1      False
         NaN          85      105     78           1      False
         NaN         135      115     78           1      False
Bug      NaN          20       20     45           1      False
         NaN          25       25     30           1      False
         Flying       90       80     70           1      False
         Poison       20       20     50           1      False
         Poison       25       25     35           1      False
         Poison       45       80     75           1      False
         Poison       15       80    145           1      False
Normal   Flying       35       35     56           1      False
         Flying       50       50     71           1      False
         Flying       70       70    101           1      False
         Flying      135       80    121           1      False
         NaN          25       35     72           1      False
         NaN          50       70     97           1      False
         Flying       31       31     70           1      False
         Flying       61       61    100           1      False
Poison   NaN          40       54     55           1      False
         NaN          65       79     80           1      False
...                  ...      ...    ...         ...        ...
Fairy    NaN         110      130     60           6      False
Fighting Flying       74       63    118           6      False
Electric Fairy        81       67    101           6      False
Rock     Fairy        50      150     50           6      False
Dragon   NaN          55       75     40           6      False
         NaN          83      113     60           6      False
         NaN         110      150     80           6      False
Steel    Fairy        80       87     75           6      False
Ghost    Grass        50       60     38           6      False
         Grass        65       82     56           6      False
         Grass        44       55     51           6      False
         Grass        44       55     56           6      False
         Grass        44       55     46           6      False
         Grass        44       55     41           6      False
         Grass        58       75     84           6      False
         Grass        58       75     99           6      False
         Grass        58       75     69           6      False
         Grass        58       75     54           6      False
Ice      NaN          32       35     28           6      False
         NaN          44       46     28           6      False
Flying   Dragon       45       40     55           6      False
         Dragon       97       80    123           6      False
Fairy    NaN         131       98     99           6       True
Dark     Flying      131       98     99           6       True
Dragon   Ground       81       95     95           6       True
Rock     Fairy       100      150     50           6       True
         Fairy       160      110    110           6       True
Psychic  Ghost       150      130     70           6       True
         Dark        170      130     80           6       True
Fire     Water       130       90     70           6       True

[800 rows x 10 columns]

In [56]:
pk_gr = pk.groupby(['Type 1','Type 2'])

In [57]:
pk_gr.groups

{('Grass',
  'Poison'): Int64Index([1, 2, 3, 3, 43, 44, 45, 69, 70, 71, 315, 406, 407, 590, 591], dtype='int64', name='#'),
 ('Fire',
  nan): Int64Index([  4,   5,  37,  38,  58,  59,  77,  78, 126, 136, 155, 156, 157,
             218, 240, 244, 255, 324, 390, 467, 498, 513, 514, 554, 555, 631,
             653, 654],
            dtype='int64', name='#'),
 ('Fire',
  'Flying'): Int64Index([6, 6, 146, 250, 662, 663], dtype='int64', name='#'),
 ('Fire', 'Dragon'): Int64Index([6], dtype='int64', name='#'),
 ('Water',
  nan): Int64Index([  7,   8,   9,   9,  54,  55,  60,  61,  86,  90,  98,  99, 116,
             117, 118, 119, 120, 129, 134, 158, 159, 160, 186, 223, 224, 245,
             258, 320, 321, 341, 349, 350, 366, 367, 368, 370, 382, 382, 393,
             394, 418, 419, 422, 456, 457, 489, 490, 501, 502, 503, 515, 516,
             535, 550, 594, 656, 657, 692, 693],
            dtype='int64', name='#'),
 ('Bug',
  nan): Int64Index([ 10,  11, 127, 204, 265, 266, 268, 313, 314, 401, 402, 412, 588,
             616, 617, 664, 665],
            dtype='int64', name='#'),
 ('Bug',
  'Flying'): Int64Index([12, 123, 127, 165, 166, 193, 267, 284, 291, 414, 415, 416, 469,
             666],
            dtype='int64', name='#'),
 ('Bug',
  'Poison'): Int64Index([13, 14, 15, 15, 48, 49, 167, 168, 269, 543, 544, 545], dtype='int64', name='#'),
 ('Normal',
  'Flying'): Int64Index([ 16,  17,  18,  18,  21,  22,  83,  84,  85, 163, 164, 276, 277,
             333, 396, 397, 398, 441, 519, 520, 521, 627, 628, 661],
            dtype='int64', name='#'),
 ('Normal',
  nan): Int64Index([ 19,  20,  52,  53, 108, 113, 115, 115, 128, 132, 133, 137, 143,
             161, 162, 190, 206, 216, 217, 233, 234, 235, 241, 242, 263, 264,
             287, 288, 289, 293, 294, 295, 300, 301, 327, 335, 351, 352, 399,
             424, 427, 428, 431, 432, 440, 446, 463, 474, 486, 493, 504, 505,
             506, 507, 508, 531, 572, 573, 626, 659, 676],
            dtype='int64', name='#'),
 ('Poison',
  nan): Int64Index([23, 24, 29, 30, 32, 33, 88, 89, 109, 110, 316, 317, 336, 568, 569], dtype='int64', name='#'),
 ('Electric',
  nan): Int64Index([ 25,  26, 100, 101, 125, 135, 172, 179, 180, 181, 239, 243, 309,
             310, 310, 311, 312, 403, 404, 405, 417, 466, 522, 523, 602, 603,
             604],
            dtype='int64', name='#'),
 ('Ground',
  nan): Int64Index([27, 28, 50, 51, 104, 105, 231, 232, 328, 383, 449, 450, 529], dtype='int64', name='#'),
 ('Poison', 'Ground'): Int64Index([31, 34], dtype='int64', name='#'),
 ('Fairy',
  nan): Int64Index([35, 36, 173, 175, 209, 210, 669, 670, 671, 682, 683, 684, 685, 700,
             716],
            dtype='int64', name='#'),
 ('Normal',
  'Fairy'): Int64Index([39, 40, 174, 298, 531], dtype='int64', name='#'),
 ('Poison', 'Flying'): Int64Index([41, 42, 169], dtype='int64', name='#'),
 ('Bug',
  'Grass'): Int64Index([46, 47, 413, 540, 541, 542], dtype='int64', name='#'),
 ('Fighting',
  nan): Int64Index([ 56,  57,  66,  67,  68, 106, 107, 236, 237, 296, 297, 447, 532,
             533, 534, 538, 539, 619, 620, 674],
            dtype='int64', name='#'),
 ('Water', 'Fighting'): Int64Index([62, 647, 647], dtype='int64', name='#'),
 ('Psychic',
  nan): Int64Index([ 63,  64,  65,  65,  96,  97, 150, 150, 151, 196, 201, 202, 325,
             326, 358, 360, 386, 386, 386, 386, 433, 480, 481, 482, 488, 517,
             518, 574, 575, 576, 577, 578, 579, 605, 606, 677, 678, 678],
            dtype='int64', name='#'),
 ('Water', 'Poison'): Int64Index([72, 73, 211], dtype='int64', name='#'),
 ('Rock',
  'Ground'): Int64Index([74, 75, 76, 95, 246, 247], dtype='int64', name='#'),
 ('Water',
  'Psychic'): Int64Index([79, 80, 80, 121, 199], dtype='int64', name='#'),
 ('Electric', 'Steel'): Int64Index([81, 82, 462], dtype='int64', name='#'),
 ('Water', 'Ice'): Int64Index([87, 91, 131], dtype='int64', name='#'),
 ('Ghost', 'Poison'): Int64Index([92, 93, 94, 94], dtype='int64', name='#'),
 ('Grass', 'Psychic'): Int64Index([102, 103], dtype='int64', name='#'),
 ('Ground', 'Rock'): Int64Index([111, 112, 464], dtype='int64', name='#'),
 ('Grass',
  nan): Int64Index([114, 152, 153, 154, 182, 191, 192, 252, 253, 254, 273, 285, 331,
             387, 388, 420, 421, 455, 465, 470, 492, 495, 496, 497, 511, 512,
             548, 549, 556, 650, 651, 672, 673],
            dtype='int64', name='#'),
 ('Psychic',
  'Fairy'): Int64Index([122, 280, 281, 282, 282, 439], dtype='int64', name='#'),
 ('Ice', 'Psychic'): Int64Index([124, 238], dtype='int64', name='#'),
 ('Water',
  'Flying'): Int64Index([130, 226, 278, 279, 458, 580, 581], dtype='int64', name='#'),
 ('Water',
  'Dark'): Int64Index([130, 318, 319, 319, 342, 658], dtype='int64', name='#'),
 ('Rock',
  'Water'): Int64Index([138, 139, 140, 141, 688, 689], dtype='int64', name='#'),
 ('Rock', 'Flying'): Int64Index([142, 142, 566, 567], dtype='int64', name='#'),
 ('Ice', 'Flying'): Int64Index([144, 225], dtype='int64', name='#'),
 ('Electric',
  'Flying'): Int64Index([145, 479, 587, 642, 642], dtype='int64', name='#'),
 ('Dragon',
  nan): Int64Index([147, 148, 371, 372, 610, 611, 612, 621, 704, 705, 706], dtype='int64', name='#'),
 ('Dragon',
  'Flying'): Int64Index([149, 334, 373, 373, 384, 384], dtype='int64', name='#'),
 ('Psychic', 'Fighting'): Int64Index([150, 475, 475], dtype='int64', name='#'),
 ('Water', 'Electric'): Int64Index([170, 171], dtype='int64', name='#'),
 ('Fairy', 'Flying'): Int64Index([176, 468], dtype='int64', name='#'),
 ('Psychic',
  'Flying'): Int64Index([177, 178, 249, 527, 528, 561], dtype='int64', name='#'),
 ('Electric', 'Dragon'): Int64Index([181], dtype='int64', name='#'),
 ('Water', 'Fairy'): Int64Index([183, 184], dtype='int64', name='#'),
 ('Rock',
  nan): Int64Index([185, 299, 377, 408, 409, 438, 524, 525, 526], dtype='int64', name='#'),
 ('Grass',
  'Flying'): Int64Index([187, 188, 189, 357, 492], dtype='int64', name='#'),
 ('Water',
  'Ground'): Int64Index([194, 195, 259, 260, 260, 339, 340, 423, 536, 537], dtype='int64', name='#'),
 ('Dark',
  nan): Int64Index([197, 261, 262, 359, 359, 491, 509, 510, 570, 571], dtype='int64', name='#'),
 ('Dark',
  'Flying'): Int64Index([198, 430, 629, 630, 717], dtype='int64', name='#'),
 ('Ghost',
  nan): Int64Index([200, 353, 354, 354, 355, 356, 429, 477, 562, 563], dtype='int64', name='#'),
 ('Normal', 'Psychic'): Int64Index([203, 648], dtype='int64', name='#'),
 ('Bug',
  'Steel'): Int64Index([205, 212, 212, 413, 589, 632, 649], dtype='int64', name='#'),
 ('Ground',
  'Flying'): Int64Index([207, 472, 645, 645], dtype='int64', name='#'),
 ('Steel', 'Ground'): Int64Index([208, 208], dtype='int64', name='#'),
 ('Bug', 'Rock'): Int64Index([213, 557, 558], dtype='int64', name='#'),
 ('Bug', 'Fighting'): Int64Index([214, 214], dtype='int64', name='#'),
 ('Dark', 'Ice'): Int64Index([215, 461], dtype='int64', name='#'),
 ('Fire', 'Rock'): Int64Index([219], dtype='int64', name='#'),
 ('Ice', 'Ground'): Int64Index([220, 221, 473], dtype='int64', name='#'),
 ('Water', 'Rock'): Int64Index([222, 369, 564, 565], dtype='int64', name='#'),
 ('Steel', 'Flying'): Int64Index([227], dtype='int64', name='#'),
 ('Dark', 'Fire'): Int64Index([228, 229, 229], dtype='int64', name='#'),
 ('Water', 'Dragon'): Int64Index([230, 484], dtype='int64', name='#'),
 ('Rock', 'Dark'): Int64Index([248, 248], dtype='int64', name='#'),
 ('Psychic', 'Grass'): Int64Index([251], dtype='int64', name='#'),
 ('Grass', 'Dragon'): Int64Index([254], dtype='int64', name='#'),
 ('Fire',
  'Fighting'): Int64Index([256, 257, 257, 391, 392, 499, 500], dtype='int64', name='#'),
 ('Water', 'Grass'): Int64Index([270, 271, 272], dtype='int64', name='#'),
 ('Grass', 'Dark'): Int64Index([274, 275, 332], dtype='int64', name='#'),
 ('Bug', 'Water'): Int64Index([283], dtype='int64', name='#'),
 ('Grass', 'Fighting'): Int64Index([286, 640, 652], dtype='int64', name='#'),
 ('Bug', 'Ground'): Int64Index([290, 413], dtype='int64', name='#'),
 ('Bug', 'Ghost'): Int64Index([292], dtype='int64', name='#'),
 ('Dark', 'Ghost'): Int64Index([302, 302], dtype='int64', name='#'),
 ('Steel', 'Fairy'): Int64Index([303, 303, 707], dtype='int64', name='#'),
 ('Steel', 'Rock'): Int64Index([304, 305, 306], dtype='int64', name='#'),
 ('Steel',
  nan): Int64Index([306, 379, 599, 600, 601], dtype='int64', name='#'),
 ('Fighting', 'Psychic'): Int64Index([307, 308, 308], dtype='int64', name='#'),
 ('Fire', 'Ground'): Int64Index([322, 323, 323], dtype='int64', name='#'),
 ('Ground', 'Dragon'): Int64Index([329, 330], dtype='int64', name='#'),
 ('Dragon', 'Fairy'): Int64Index([334], dtype='int64', name='#'),
 ('Rock', 'Psychic'): Int64Index([337, 338], dtype='int64', name='#'),
 ('Ground', 'Psychic'): Int64Index([343, 344], dtype='int64', name='#'),
 ('Rock', 'Grass'): Int64Index([345, 346], dtype='int64', name='#'),
 ('Rock', 'Bug'): Int64Index([347, 348], dtype='int64', name='#'),
 ('Ice',
  nan): Int64Index([361, 362, 362, 378, 471, 582, 583, 584, 613, 614, 615, 712, 713], dtype='int64', name='#'),
 ('Ice', 'Water'): Int64Index([363, 364, 365], dtype='int64', name='#'),
 ('Steel',
  'Psychic'): Int64Index([374, 375, 376, 376, 385, 436, 437], dtype='int64', name='#'),
 ('Dragon',
  'Psychic'): Int64Index([380, 380, 381, 381], dtype='int64', name='#'),
 ('Ground', 'Fire'): Int64Index([383], dtype='int64', name='#'),
 ('Grass', 'Ground'): Int64Index([389], dtype='int64', name='#'),
 ('Water', 'Steel'): Int64Index([395], dtype='int64', name='#'),
 ('Normal', 'Water'): Int64Index([400], dtype='int64', name='#'),
 ('Rock', 'Steel'): Int64Index([410, 411, 476], dtype='int64', name='#'),
 ('Ghost', 'Flying'): Int64Index([425, 426], dtype='int64', name='#'),
 ('Normal', 'Fighting'): Int64Index([428, 648], dtype='int64', name='#'),
 ('Poison', 'Dark'): Int64Index([434, 435, 452], dtype='int64', name='#'),
 ('Ghost', 'Dark'): Int64Index([442], dtype='int64', name='#'),
 ('Dragon',
  'Ground'): Int64Index([443, 444, 445, 445, 718], dtype='int64', name='#'),
 ('Fighting', 'Steel'): Int64Index([448, 448], dtype='int64', name='#'),
 ('Poison', 'Bug'): Int64Index([451], dtype='int64', name='#'),
 ('Poison', 'Fighting'): Int64Index([453, 454], dtype='int64', name='#'),
 ('Grass', 'Ice'): Int64Index([459, 460, 460], dtype='int64', name='#'),
 ('Ice', 'Ghost'): Int64Index([478], dtype='int64', name='#'),
 ('Electric', 'Ghost'): Int64Index([479], dtype='int64', name='#'),
 ('Electric', 'Fire'): Int64Index([479], dtype='int64', name='#'),
 ('Electric', 'Water'): Int64Index([479], dtype='int64', name='#'),
 ('Electric', 'Ice'): Int64Index([479], dtype='int64', name='#'),
 ('Electric', 'Grass'): Int64Index([479], dtype='int64', name='#'),
 ('Steel', 'Dragon'): Int64Index([483], dtype='int64', name='#'),
 ('Fire', 'Steel'): Int64Index([485], dtype='int64', name='#'),
 ('Ghost', 'Dragon'): Int64Index([487, 487], dtype='int64', name='#'),
 ('Psychic', 'Fire'): Int64Index([494], dtype='int64', name='#'),
 ('Ground', 'Steel'): Int64Index([530], dtype='int64', name='#'),
 ('Grass', 'Fairy'): Int64Index([546, 547], dtype='int64', name='#'),
 ('Ground', 'Dark'): Int64Index([551, 552, 553], dtype='int64', name='#'),
 ('Fire', 'Psychic'): Int64Index([555, 655], dtype='int64', name='#'),
 ('Dark', 'Fighting'): Int64Index([559, 560], dtype='int64', name='#'),
 ('Normal', 'Grass'): Int64Index([585, 586], dtype='int64', name='#'),
 ('Water', 'Ghost'): Int64Index([592, 593], dtype='int64', name='#'),
 ('Bug', 'Electric'): Int64Index([595, 596], dtype='int64', name='#'),
 ('Grass', 'Steel'): Int64Index([597, 598], dtype='int64', name='#'),
 ('Ghost', 'Fire'): Int64Index([607, 608, 609], dtype='int64', name='#'),
 ('Ground', 'Electric'): Int64Index([618], dtype='int64', name='#'),
 ('Ground', 'Ghost'): Int64Index([622, 623], dtype='int64', name='#'),
 ('Dark', 'Steel'): Int64Index([624, 625], dtype='int64', name='#'),
 ('Dark', 'Dragon'): Int64Index([633, 634, 635], dtype='int64', name='#'),
 ('Bug', 'Fire'): Int64Index([636, 637], dtype='int64', name='#'),
 ('Steel', 'Fighting'): Int64Index([638], dtype='int64', name='#'),
 ('Rock', 'Fighting'): Int64Index([639], dtype='int64', name='#'),
 ('Flying', nan): Int64Index([641, 641], dtype='int64', name='#'),
 ('Dragon', 'Fire'): Int64Index([643], dtype='int64', name='#'),
 ('Dragon', 'Electric'): Int64Index([644], dtype='int64', name='#'),
 ('Dragon', 'Ice'): Int64Index([646, 646, 646], dtype='int64', name='#'),
 ('Normal', 'Ground'): Int64Index([660], dtype='int64', name='#'),
 ('Fire', 'Normal'): Int64Index([667, 668], dtype='int64', name='#'),
 ('Fighting', 'Dark'): Int64Index([675], dtype='int64', name='#'),
 ('Steel', 'Ghost'): Int64Index([679, 680, 681, 681], dtype='int64', name='#'),
 ('Dark', 'Psychic'): Int64Index([686, 687], dtype='int64', name='#'),
 ('Poison', 'Water'): Int64Index([690], dtype='int64', name='#'),
 ('Poison', 'Dragon'): Int64Index([691], dtype='int64', name='#'),
 ('Electric', 'Normal'): Int64Index([694, 695], dtype='int64', name='#'),
 ('Rock', 'Dragon'): Int64Index([696, 697], dtype='int64', name='#'),
 ('Rock', 'Ice'): Int64Index([698, 699], dtype='int64', name='#'),
 ('Fighting', 'Flying'): Int64Index([701], dtype='int64', name='#'),
 ('Electric', 'Fairy'): Int64Index([702], dtype='int64', name='#'),
 ('Rock', 'Fairy'): Int64Index([703, 719, 719], dtype='int64', name='#'),
 ('Ghost',
  'Grass'): Int64Index([708, 709, 710, 710, 710, 710, 711, 711, 711, 711], dtype='int64', name='#'),
 ('Flying', 'Dragon'): Int64Index([714, 715], dtype='int64', name='#'),
 ('Psychic', 'Ghost'): Int64Index([720], dtype='int64', name='#'),
 ('Psychic', 'Dark'): Int64Index([720], dtype='int64', name='#'),
 ('Fire', 'Water'): Int64Index([721], dtype='int64', name='#')}

## 切片

In [58]:
pk_gr.mean().HP['Bug']# Series

Type 2
Electric    60.000000
Fighting    80.000000
Fire        70.000000
Flying      63.000000
Ghost        1.000000
Grass       55.000000
Ground      45.500000
Poison      53.750000
Rock        46.666667
Steel       67.714286
Water       40.000000
Name: HP, dtype: float64

In [59]:
pk_gr.mean().loc['Bug']# DataFrame

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,
Electric,395.500000,60.000000,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000,0.0
Fighting,550.000000,80.000000,155.000000,95.000000,40.000000,100.000000,80.000000,2.000000,0.0
Fire,455.000000,70.000000,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000,0.0
Flying,419.500000,63.000000,70.142857,61.571429,72.857143,69.071429,82.857143,2.857143,0.0
Ghost,236.000000,1.000000,90.000000,45.000000,30.000000,30.000000,40.000000,3.000000,0.0
Grass,384.000000,55.000000,73.833333,76.666667,57.333333,76.666667,44.500000,3.500000,0.0
Ground,345.000000,45.500000,62.000000,97.500000,44.500000,57.500000,38.000000,3.500000,0.0
Poison,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.0
Rock,435.000000,46.666667,56.666667,146.666667,36.666667,113.333333,35.000000,4.000000,0.0
Steel,509.714286,67.714286,114.714286,112.428571,68.142857,83.285714,63.428571,3.571429,0.0
Water,269.000000,40.000000,30.000000,32.000000,50.000000,52.000000,65.000000,3.000000,0.0

In [60]:
pk_gr.mean().loc['Bug','HP']

Type 2
Electric    60.000000
Fighting    80.000000
Fire        70.000000
Flying      63.000000
Ghost        1.000000
Grass       55.000000
Ground      45.500000
Poison      53.750000
Rock        46.666667
Steel       67.714286
Water       40.000000
Name: HP, dtype: float64

## 索引变成列
* .reset_index()

In [61]:
pk_gr.mean().reset_index()

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bug,Electric,395.500000,60.000000,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000,0.000000
1,Bug,Fighting,550.000000,80.000000,155.000000,95.000000,40.000000,100.000000,80.000000,2.000000,0.000000
2,Bug,Fire,455.000000,70.000000,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000,0.000000
3,Bug,Flying,419.500000,63.000000,70.142857,61.571429,72.857143,69.071429,82.857143,2.857143,0.000000
4,Bug,Ghost,236.000000,1.000000,90.000000,45.000000,30.000000,30.000000,40.000000,3.000000,0.000000
5,Bug,Grass,384.000000,55.000000,73.833333,76.666667,57.333333,76.666667,44.500000,3.500000,0.000000
6,Bug,Ground,345.000000,45.500000,62.000000,97.500000,44.500000,57.500000,38.000000,3.500000,0.000000
7,Bug,Poison,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.000000
8,Bug,Rock,435.000000,46.666667,56.666667,146.666667,36.666667,113.333333,35.000000,4.000000,0.000000
9,Bug,Steel,509.714286,67.714286,114.714286,112.428571,68.142857,83.285714,63.428571,3.571429,0.000000
10,Bug,Water,269.000000,40.000000,30.000000,32.000000,50.000000,52.000000,65.000000,3.000000,0.000000
11,Dark,Dragon,440.000000,72.000000,85.000000,70.000000,78.333333,70.000000,64.666667,5.000000,0.000000
12,Dark,Fighting,418.000000,57.500000,82.500000,92.500000,40.000000,92.500000,53.000000,5.000000,0.000000
13,Dark,Fire,476.666667,65.000000,80.000000,56.666667,110.000000,73.333333,91.666667,2.000000,0.000000
14,Dark,Flying,494.000000,93.200000,92.200000,73.800000,84.200000,70.400000,80.200000,4.400000,0.200000
15,Dark,Ghost,430.000000,50.000000,80.000000,100.000000,75.000000,90.000000,35.000000,3.000000,0.000000
16,Dark,Ice,470.000000,62.500000,107.500000,60.000000,40.000000,80.000000,120.000000,3.000000,0.000000
17,Dark,Psychic,385.000000,69.500000,73.000000,70.500000,52.500000,60.500000,59.000000,6.000000,0.000000
18,Dark,Steel,415.000000,55.000000,105.000000,85.000000,50.000000,55.000000,65.000000,5.000000,0.000000
19,Dragon,Electric,680.000000,100.000000,150.000000,120.000000,120.000000,100.000000,90.000000,5.000000,1.000000
20,Dragon,Fairy,590.000000,75.000000,110.000000,110.000000,110.000000,105.000000,80.000000,3.000000,0.000000
21,Dragon,Fire,680.000000,100.000000,120.000000,100.000000,150.000000,120.000000,90.000000,5.000000,1.000000
22,Dragon,Flying,641.666667,94.333333,135.666667,97.500000,121.666667,94.166667,98.333333,2.666667,0.333333
23,Dragon,Ground,522.000000,90.000000,112.000000,88.200000,74.200000,75.000000,82.600000,4.400000,0.200000
24,Dragon,Ice,686.666667,125.000000,140.000000,93.333333,140.000000,93.333333,95.000000,5.000000,1.000000
25,Dragon,Psychic,650.000000,80.000000,100.000000,97.500000,135.000000,127.500000,110.000000,3.000000,1.000000
26,Electric,Dragon,610.000000,90.000000,95.000000,105.000000,165.000000,110.000000,45.000000,2.000000,0.000000
27,Electric,Fairy,431.000000,67.000000,58.000000,57.000000,81.000000,67.000000,101.000000,6.000000,0.000000
28,Electric,Fire,520.000000,50.000000,65.000000,107.000000,105.000000,107.000000,86.000000,4.000000,0.000000
29,Electric,Flying,537.600000,70.600000,90.000000,78.400000,115.000000,83.400000,100.200000,4.000000,0.600000
...,...,...,...,...,...,...,...,...,...,...,...
106,Rock,Fighting,580.000000,91.000000,129.000000,90.000000,72.000000,90.000000,108.000000,5.000000,1.000000
107,Rock,Flying,524.500000,72.500000,123.000000,65.000000,79.000000,70.000000,115.000000,3.000000,0.000000
108,Rock,Grass,425.000000,76.000000,61.000000,87.000000,71.000000,97.000000,33.000000,3.000000,0.000000
109,Rock,Ground,380.000000,55.000000,81.333333,104.166667,45.000000,50.833333,43.666667,1.333333,0.000000
110,Rock,Ice,441.500000,100.000000,68.000000,61.000000,83.000000,77.500000,52.000000,6.000000,0.000000
111,Rock,Psychic,440.000000,70.000000,75.000000,75.000000,75.000000,75.000000,70.000000,3.000000,0.000000
112,Rock,Steel,456.666667,50.000000,49.666667,143.666667,54.666667,125.333333,33.333333,4.000000,0.000000
113,Rock,Water,417.666667,51.500000,75.333333,100.333333,69.666667,63.666667,57.166667,2.666667,0.000000
114,Steel,Dragon,680.000000,100.000000,120.000000,120.000000,150.000000,100.000000,90.000000,4.000000,1.000000
115,Steel,Fairy,443.333333,52.333333,90.000000,100.333333,63.333333,79.000000,58.333333,4.000000,0.000000
116,Steel,Fighting,580.000000,91.000000,90.000000,129.000000,90.000000,72.000000,108.000000,5.000000,1.000000
117,Steel,Flying,465.000000,65.000000,80.000000,140.000000,40.000000,70.000000,70.000000,2.000000,0.000000
118,Steel,Ghost,453.250000,56.000000,97.500000,112.500000,70.000000,71.500000,45.750000,6.000000,0.000000
119,Steel,Ground,560.000000,75.000000,105.000000,215.000000,55.000000,80.000000,30.000000,2.000000,0.000000
120,Steel,Psychic,488.571429,69.142857,89.000000,108.857143,70.428571,91.714286,59.428571,3.285714,0.142857
121,Steel,Rock,430.000000,60.000000,90.000000,140.000000,50.000000,50.000000,40.000000,3.000000,0.000000
122,Water,Dark,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000
123,Water,Dragon,610.000000,82.500000,107.500000,97.500000,122.500000,107.500000,92.500000,3.000000,0.500000
124,Water,Electric,395.000000,100.000000,48.000000,48.000000,66.000000,66.000000,67.000000,2.000000,0.000000
125,Water,Fairy,335.000000,85.000000,35.000000,65.000000,40.000000,65.000000,45.000000,2.000000,0.000000
126,Water,Fighting,556.666667,90.666667,79.666667,91.666667,109.333333,90.000000,95.333333,3.666667,0.000000
127,Water,Flying,404.000000,63.142857,56.571429,63.142857,67.285714,81.857143,72.000000,3.285714,0.000000
128,Water,Ghost,407.500000,77.500000,50.000000,60.000000,75.000000,95.000000,50.000000,5.000000,0.000000
129,Water,Grass,346.666667,60.000000,50.000000,50.000000,63.333333,73.333333,50.000000,3.000000,0.000000
130,Water,Ground,433.900000,87.100000,84.400000,71.400000,69.400000,68.400000,53.200000,3.300000,0.000000
131,Water,Ice,511.666667,90.000000,83.333333,113.333333,80.000000,78.333333,66.666667,1.000000,0.000000
132,Water,Poison,426.666667,61.666667,68.333333,58.333333,61.666667,91.666667,85.000000,1.333333,0.000000
133,Water,Psychic,481.000000,87.000000,73.000000,104.000000,94.000000,79.000000,44.000000,1.200000,0.000000
134,Water,Rock,428.750000,70.750000,82.750000,112.750000,61.500000,65.000000,36.000000,3.750000,0.000000
135,Water,Steel,530.000000,84.000000,86.000000,88.000000,111.000000,101.000000,60.000000,4.000000,0.000000

# 字符串处理
* .str.

In [62]:
name['Name'].str.find('A')# 找到A再字符串中的位置，-1表示没有

0         -1
1          0
2          0
3         -1
4         -1
5         -1
6         -1
7          0
8         -1
9         -1
10         0
11        -1
12        -1
13        -1
14        -1
15        -1
16        -1
17        -1
18        -1
19        -1
20        -1
21        -1
22        -1
23        -1
24        -1
25        -1
26        -1
27        -1
28        -1
29        -1
          ..
1924635   -1
1924636   -1
1924637   -1
1924638   -1
1924639   -1
1924640   -1
1924641   -1
1924642   -1
1924643   -1
1924644   -1
1924645   -1
1924646   -1
1924647   -1
1924648   -1
1924649   -1
1924650   -1
1924651   -1
1924652   -1
1924653   -1
1924654   -1
1924655   -1
1924656   -1
1924657   -1
1924658   -1
1924659   -1
1924660   -1
1924661   -1
1924662   -1
1924663   -1
1924664   -1
Name: Name, Length: 1924665, dtype: int64

In [63]:
name['Name'].str[1:-1]

0               ar
1                n
2                n
3          lizabet
4             inni
5           argare
6                d
7              lic
8             erth
9              ara
10             nni
11             lar
12              ll
13          lorenc
14              or
15            arth
16             aur
17            elli
18             rac
19            arri
20             aud
21             abe
22            essi
23            enni
24          ertrud
25             uli
26            atti
27             dit
28            atti
29              os
            ...
1924635        aye
1924636        ayi
1924637      echar
1924638     echari
1924639          e
1924640         ei
1924641      ennit
1924642          e
1924643      erric
1924644        evo
1924645         he
1924646      hiyua
1924647        hyi
1924648       ikor
1924649        ion
1924650       iyan
1924651        kar
1924652       ohaa
1924653        ore
1924654       orio
1924655       ubey
1924656
1924657         ye
1924658       yhee
1924659       yhie
1924660        yka
1924661       ykee
1924662        yli
1924663        yli
1924664        yri
Name: Name, Length: 1924665, dtype: object

In [64]:
name["Name"].str.replace('A','*')

0               Mary
1                *nn
2                *nn
3          Elizabeth
4             Minnie
5           Margaret
6                Ida
7              *lice
8             Bertha
9              Sarah
10             *nnie
11             Clara
12              Ella
13          Florence
14              Cora
15            Martha
16             Laura
17            Nellie
18             Grace
19            Carrie
20             Maude
21             Mabel
22            Bessie
23            Jennie
24          Gertrude
25             Julia
26            Hattie
27             Edith
28            Mattie
29              Rose
             ...
1924635        Zayer
1924636        Zayir
1924637      Zechari
1924638     Zecharia
1924639          Zee
1924640         Zeid
1924641      Zennith
1924642          Zeo
1924643      Zerrick
1924644        Zevon
1924645         Zhen
1924646      Zhiyuan
1924647        Zhyir
1924648       Zikora
1924649        Zionn
1924650       Ziyang
1924651        Zkari
1924652       Zohaan
1924653        Zoren
1924654       Zorion
1924655       Zubeyr
1924656           Zy
1924657         Zyel
1924658       Zyheem
1924659       Zyhier
1924660        Zykai
1924661       Zykeem
1924662        Zylin
1924663        Zylis
1924664        Zyrie
Name: Name, Length: 1924665, dtype: object

In [65]:
name.head()

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2        Ann  1880      F   2604
2   3        Ann  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746

# apply
* 聚合apply

In [66]:
pk.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [67]:
def func(x,n,asc=False):
    r = x.sort_values('Total',ascending=asc)
    return r[:n]# 返回的是数据框

In [68]:
pk.groupby(['Type 1','Type 2']).apply(func,n=3,asc=False)# 求得排名前(后)n=3

                                        Name Type 1    Type 2  Total   HP  \
Type 1 Type 2   #
Bug    Electric 596               Galvantula    Bug  Electric    472   70
                595                   Joltik    Bug  Electric    319   50
       Fighting 214  HeracrossMega Heracross    Bug  Fighting    600   80
                214                Heracross    Bug  Fighting    500   80
       Fire     637                Volcarona    Bug      Fire    550   85
                636                 Larvesta    Bug      Fire    360   55
       Flying   127        PinsirMega Pinsir    Bug    Flying    600   65
                469                  Yanmega    Bug    Flying    515   86
                123                  Scyther    Bug    Flying    500   70
       Ghost    292                 Shedinja    Bug     Ghost    236    1
       Grass    542                 Leavanny    Bug     Grass    500   75
                413      WormadamPlant Cloak    Bug     Grass    424   60
                47                  Parasect    Bug     Grass    405   60
       Ground   413      WormadamSandy Cloak    Bug    Ground    424   60
                290                  Nincada    Bug    Ground    266   31
       Poison   15     BeedrillMega Beedrill    Bug    Poison    495   65
                545                Scolipede    Bug    Poison    485   60
                49                  Venomoth    Bug    Poison    450   70
       Rock     213                  Shuckle    Bug      Rock    505   20
                558                  Crustle    Bug      Rock    475   70
                557                  Dwebble    Bug      Rock    325   50
       Steel    212        ScizorMega Scizor    Bug     Steel    600   70
                649                 Genesect    Bug     Steel    600   71
                212                   Scizor    Bug     Steel    500   70
       Water    283                  Surskit    Bug     Water    269   40
Dark   Dragon   635                Hydreigon   Dark    Dragon    600   92
                634                 Zweilous   Dark    Dragon    420   72
                633                    Deino   Dark    Dragon    300   52
       Fighting 560                  Scrafty   Dark  Fighting    488   65
                559                  Scraggy   Dark  Fighting    348   50
...                                      ...    ...       ...    ...  ...
Water  Electric 170                 Chinchou  Water  Electric    330   75
       Fairy    184                Azumarill  Water     Fairy    420  100
                183                   Marill  Water     Fairy    250   70
       Fighting 647     KeldeoOrdinary Forme  Water  Fighting    580   91
                647     KeldeoResolute Forme  Water  Fighting    580   91
                62                 Poliwrath  Water  Fighting    510   90
       Flying   130                 Gyarados  Water    Flying    540   95
                581                   Swanna  Water    Flying    473   75
                226                  Mantine  Water    Flying    465   65
       Ghost    593                Jellicent  Water     Ghost    480  100
                592                 Frillish  Water     Ghost    335   55
       Grass    272                 Ludicolo  Water     Grass    480   80
                271                   Lombre  Water     Grass    340   60
                270                    Lotad  Water     Grass    220   40
       Ground   260    SwampertMega Swampert  Water    Ground    635  100
                260                 Swampert  Water    Ground    535  100
                537               Seismitoad  Water    Ground    509  105
       Ice      131                   Lapras  Water       Ice    535  130
                91                  Cloyster  Water       Ice    525   50
                87                   Dewgong  Water       Ice    475   90
       Poison   73                Tentacruel  Water    Poison    515   80
                211                 Qwilfish  Water    Poison    430   65
                72                 Tentacool  Water    Poison    335   40
       Psychic  80       SlowbroMega Slowbro  Water   Psychic    590   95
                121                  Starmie  Water   Psychic    520   60
                80                   Slowbro  Water   Psychic    490   95
       Rock     565               Carracosta  Water      Rock    495   74
                369                Relicanth  Water      Rock    485  100
                222                  Corsola  Water      Rock    380   55
       Steel    395                 Empoleon  Water     Steel    530   84

                     Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  \
Type 1 Type 2   #
Bug    Electric 596      77       60       97       60    108           5
                595      47       50       57       50     65           5
       Fighting 214     185      115       40      105     75           2
                214     125       75       40       95     85           2
       Fire     637      60       65      135      105    100           5
                636      85       55       50       55     60           5
       Flying   127     155      120       65       90    105           1
                469      76       86      116       56     95           4
                123     110       80       55       80    105           1
       Ghost    292      90       45       30       30     40           3
       Grass    542     103       80       70       80     92           5
                413      59       85       79      105     36           4
                47       95       80       60       80     30           1
       Ground   413      79      105       59       85     36           4
                290      45       90       30       30     40           3
       Poison   15      150       40       15       80    145           1
                545     100       89       55       69    112           5
                49       65       60       90       75     90           1
       Rock     213      10      230       10      230      5           2
                558      95      125       65       75     45           5
                557      65       85       35       35     55           5
       Steel    212     150      140       65      100     75           2
                649     120       95      120       95     99           5
                212     130      100       55       80     65           2
       Water    283      30       32       50       52     65           3
Dark   Dragon   635     105       90      125       90     98           5
                634      85       70       65       70     58           5
                633      65       50       45       50     38           5
       Fighting 560      90      115       45      115     58           5
                559      75       70       35       70     48           5
...                     ...      ...      ...      ...    ...         ...
Water  Electric 170      38       38       56       56     67           2
       Fairy    184      50       80       60       80     50           2
                183      20       50       20       50     40           2
       Fighting 647      72       90      129       90    108           5
                647      72       90      129       90    108           5
                62       95       95       70       90     70           1
       Flying   130     125       79       60      100     81           1
                581      87       63       87       63     98           5
                226      40       70       80      140     70           2
       Ghost    593      60       70       85      105     60           5
                592      40       50       65       85     40           5
       Grass    272      70       70       90      100     70           3
                271      50       50       60       70     50           3
                270      30       30       40       50     30           3
       Ground   260     150      110       95      110     70           3
                260     110       90       85       90     60           3
                537      95       75       85       75     74           5
       Ice      131      85       80       85       95     60           1
                91       95      180       85       45     70           1
                87       70       80       70       95     70           1
       Poison   73       70       65       80      120    100           1
                211      95       75       55       55     85           2
                72       40       35       50      100     70           1
       Psychic  80       75      180      130       80     30           1
                121      75       85      100       85    115           1
                80       75      110      100       80     30           1
       Rock     565     108      133       83       65     32           5
                369      90      130       45       65     55           3
                222      55       85       65       85     35           2
       Steel    395      86       88      111      101     60           4

                     Legendary
Type 1 Type 2   #
Bug    Electric 596      False
                595      False
       Fighting 214      False
                214      False
       Fire     637      False
                636      False
       Flying   127      False
                469      False
                123      False
       Ghost    292      False
       Grass    542      False
                413      False
                47       False
       Ground   413      False
                290      False
       Poison   15       False
                545      False
                49       False
       Rock     213      False
                558      False
                557      False
       Steel    212      False
                649      False
                212      False
       Water    283      False
Dark   Dragon   635      False
                634      False
                633      False
       Fighting 560      False
                559      False
...                        ...
Water  Electric 170      False
       Fairy    184      False
                183      False
       Fighting 647      False
                647      False
                62       False
       Flying   130      False
                581      False
                226      False
       Ghost    593      False
                592      False
       Grass    272      False
                271      False
                270      False
       Ground   260      False
                260      False
                537      False
       Ice      131      False
                91       False
                87       False
       Poison   73       False
                211      False
                72       False
       Psychic  80       False
                121      False
                80       False
       Rock     565      False
                369      False
                222      False
       Steel    395      False

[289 rows x 12 columns]

In [69]:
def foo(x):
    r = x.Defense.max()-x.Defense.min()
    return r# 返回的是一个Series

In [70]:
pk.groupby(['Type 1','Type 2']).apply(foo)

Type 1    Type 2
Bug       Electric     10
          Fighting     40
          Fire         10
          Flying       90
          Ghost         0
          Grass        35
          Ground       15
          Poison       69
          Rock        145
          Steel        45
          Water         0
Dark      Dragon       40
          Fighting     45
          Fire         60
          Flying       63
          Ghost        50
          Ice          10
          Psychic      35
          Steel        30
Dragon    Electric      0
          Fairy         0
          Fire          0
          Flying       50
          Ground       76
          Ice          10
          Psychic      40
Electric  Dragon        0
          Fairy         0
          Fire          0
          Flying       47
                     ...
Rock      Fighting      0
          Flying       40
          Grass        20
          Ground      110
          Ice          22
          Psychic      20
          Steel        50
          Water        58
Steel     Dragon        0
          Fairy        40
          Fighting      0
          Flying        0
          Ghost       100
          Ground       30
          Psychic      70
          Rock         80
Water     Dark         89
          Dragon        5
          Electric     20
          Fairy        30
          Fighting      5
          Flying       70
          Ghost        20
          Grass        40
          Ground       67
          Ice         100
          Poison       40
          Psychic     115
          Rock         48
          Steel         0
Length: 136, dtype: int64

# agg()
* 调用多个函数再考虑用agg
* 一般apply

In [71]:
pk.groupby(['Type 1','Type 2']).agg(lambda x:max(x)-min(x))

                   Attack  Defense  Generation  HP  Legendary  Sp. Atk  \
Type 1   Type 2
Bug      Electric      30       10           0  20      False       40
         Fighting      60       40           0   0      False        0
         Fire          25       10           0  30      False       85
         Flying       135       90           5  56      False       86
         Ghost          0        0           0   0      False        0
         Grass         50       35           4  40      False       39
         Ground        34       15           1  29      False       29
         Poison       125       69           4  40      False       75
         Rock          85      145           3  50      False       55
         Steel         81       45           3  17      False       72
         Water          0        0           0   0      False        0
Dark     Dragon        40       40           0  40      False       80
         Fighting      15       45           0  15      False       10
         Fire          30       60           0  30      False       60
         Flying        76       63           4  66       True       86
         Ghost         10       50           0   0      False       20
         Ice           25       10           2  15      False       10
         Psychic       38       35           0  33      False       31
         Steel         40       30           0  20      False       20
Dragon   Electric       0        0           0   0      False        0
         Fairy          0        0           0   0      False        0
         Fire           0        0           0   0      False        0
         Flying       110       50           2  30       True      110
         Ground       100       76           2  50       True       80
         Ice           50       10           0   0      False       50
         Psychic       50       40           0   0      False       50
Electric Dragon         0        0           0   0      False        0
         Fairy          0        0           0   0      False        0
         Fire           0        0           0   0      False        0
         Flying        50       47           4  40       True       70
...                   ...      ...         ...  ..        ...      ...
Rock     Fighting       0        0           0   0      False        0
         Flying        35       40           4  25      False       52
         Grass         40       20           0  20      False       20
         Ground        75      110           1  45      False       35
         Ice           18       22           0  46      False       32
         Psychic       40       20           0   0      False       40
         Steel         13       50           0  30      False       33
         Water         75       58           5  42      False       76
Steel    Dragon         0        0           0   0      False        0
         Fairy         25       40           3   7      False       25
         Fighting       0        0           0   0      False        0
         Flying         0        0           0   0      False        0
         Ghost        100      100           0  15      False      115
         Ground        40       30           0   0      False        0
         Psychic      121       70           1  60       True       81
         Rock          40       80           0  20      False       20
Water    Dark          65       89           5  50      False       45
         Dragon        25        5           2  15       True       55
         Electric      20       20           0  50      False       20
         Fairy         30       30           0  30      False       40
         Fighting      23        5           4   1      False       59
         Flying       105       70           4  55      False       43
         Ghost         20       20           0  45      False       20
         Grass         40       40           0  40      False       50
         Ground       105       67           3  61      False       70
         Ice           25      100           0  80      False       15
         Poison        55       40           1  40      False       30
         Psychic       10      115           1  35      False       90
         Rock          53       48           3  46      False       38
         Steel          0        0           0   0      False        0

                   Sp. Def  Speed  Total
Type 1   Type 2
Bug      Electric       10     43    153
         Fighting       10     10    100
         Fire           50     40    190
         Flying         68    120    356
         Ghost           0      0      0
         Grass          50     67    215
         Ground         55      4    158
         Poison         70    115    300
         Rock          195     50    180
         Steel          57     89    176
         Water           0      0      0
Dark     Dragon         40     60    300
         Fighting       45     10    140
         Fire           40     50    270
         Flying         56     39    310
         Ghost          50     30    100
         Ice            10     10     80
         Psychic        29     28    194
         Steel          30     10    150
Dragon   Electric        0      0      0
         Fairy           0      0      0
         Fire            0      0      0
         Flying         25     40    290
         Ground         50     60    400
         Ice            10      0     40
         Psychic        40      0    100
Electric Dragon          0      0      0
         Fairy           0      0      0
         Fire            0      0      0
         Flying         47     25    152
...                    ...    ...    ...
Rock     Fighting        0      0      0
         Flying         50     80    214
         Grass          20     20    140
         Ground         40     50    195
         Ice            29     12    159
         Psychic        20      0      0
         Steel          62     10    175
         Water          41     45    194
Steel    Dragon          0      0      0
         Fairy          40     25    100
         Fighting        0      0      0
         Flying          0      0      0
         Ghost         113     32    195
         Ground         30      0    100
         Psychic        56     87    400
         Rock           20     20    200
Water    Dark          110     67    335
         Dragon         25     15    140
         Electric       20      0    130
         Fairy          30     10    170
         Fighting        0     38     70
         Flying        110     48    270
         Ghost          20     20    145
         Grass          50     40    260
         Ground         85     59    425
         Ice            50     10     60
         Poison         65     30    180
         Psychic        70    100    275
         Rock           40     33    140
         Steel           0      0      0

[136 rows x 9 columns]

In [113]:
df1 = pd.read_excel('个人用电情况报表.xlsx',header=1)#读取，header，把第n行作为columns

In [114]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 9 columns):
查表时间    11 non-null datetime64[ns]
实际天数    11 non-null int64
电消耗量    11 non-null int64
单价      11 non-null float64
金额      11 non-null float64
日均费用    11 non-null float64
日均电量    11 non-null float64
最大最小    3 non-null float64
标记点     3 non-null float64
dtypes: datetime64[ns](1), float64(6), int64(2)
memory usage: 832.0 bytes

In [115]:
df1

         查表时间  实际天数  电消耗量    单价     金额      日均费用      日均电量   最大最小    标记点
0  2018-01-01    30   121  0.56  67.76  2.258667  4.033333    NaN    NaN
1  2018-02-01    27   142  0.56  79.52  2.945185  5.259259  79.52  79.52
2  2018-03-01    30    99  0.56  55.44  1.848000  3.300000    NaN    NaN
3  2018-04-01    29   137  0.56  76.72  2.645517  4.724138    NaN    NaN
4  2018-05-01    30   114  0.56  63.84  2.128000  3.800000    NaN    NaN
5  2018-06-01    29   118  0.56  66.08  2.278621  4.068966    NaN    NaN
6  2018-07-01    30   124  0.56  69.44  2.314667  4.133333    NaN    NaN
7  2018-08-01    30   139  0.56  77.84  2.594667  4.633333    NaN    NaN
8  2018-09-01    29   142  0.56  79.52  2.742069  4.896552  79.52  79.52
9  2018-10-01    30    98  0.56  54.88  1.829333  3.266667  54.88  54.88
10 2018-11-01    29   109  0.56  61.04  2.104828  3.758621    NaN    NaN

In [116]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 9 columns):
查表时间    11 non-null datetime64[ns]
实际天数    11 non-null int64
电消耗量    11 non-null int64
单价      11 non-null float64
金额      11 non-null float64
日均费用    11 non-null float64
日均电量    11 non-null float64
最大最小    3 non-null float64
标记点     3 non-null float64
dtypes: datetime64[ns](1), float64(6), int64(2)
memory usage: 832.0 bytes