In [100]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [125]:
df = pd.read_csv('f:/test/News/movie_metadata.csv')

In [3]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 866.8+ KB

In [5]:
df[['aspect_ratio','movie_facebook_likes']].astype('str').head().dtypes

aspect_ratio            object
movie_facebook_likes    object
dtype: object

In [6]:
s1 = pd.Series(np.random.randn(3))

In [7]:
s1

0   -1.334652
1   -1.888918
2   -1.838051
dtype: float64

In [8]:
s1.astype('str')

0    -1.3346520143359313
1    -1.8889182466331684
2     -1.838051414330751
dtype: object

In [9]:
s1

0   -1.334652
1   -1.888918
2   -1.838051
dtype: float64

In [10]:
df.color.name

'color'

In [11]:
df.color.name = 'Color'

In [12]:
df.color.name

'Color'

In [13]:
df.color.value_counts()

Color               4815
 Black and White     209
Name: Color, dtype: int64

In [14]:
df.shape

(5043, 28)

In [15]:
df.size

141204

In [16]:
df.values

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [17]:
df.index

RangeIndex(start=0, stop=5043, step=1)

In [18]:
1 in df.index

True

In [19]:
df.color.get('s','xyz')

'xyz'

In [20]:
df.color.value_counts()

Color               4815
 Black and White     209
Name: Color, dtype: int64

In [21]:
df['color'].head(3)#筛选列

0    Color
1    Color
2    Color
Name: Color, dtype: object

In [22]:
df.loc[:3,['color','gross','duration']]#筛选+重排行列

   color        gross  duration
0  Color  760505847.0     178.0
1  Color  309404152.0     169.0
2  Color  200074175.0     148.0
3  Color  448130642.0     164.0

In [23]:
df.iloc[:3,1:4]#筛选行列

    director_name  num_critic_for_reviews  duration
0   James Cameron                   723.0     178.0
1  Gore Verbinski                   302.0     169.0
2      Sam Mendes                   602.0     148.0

In [24]:
df.iloc[np.arange(2,10,2),[2,1,3]]# 筛选+重排 行列

   num_critic_for_reviews director_name  duration
2                   602.0    Sam Mendes     148.0
4                     NaN   Doug Walker       NaN
6                   392.0     Sam Raimi     156.0
8                   635.0   Joss Whedon     141.0

In [25]:
df.reindex(columns=['duration','color']).head()#重排列

   duration  color
0     178.0  Color
1     169.0  Color
2     148.0  Color
3     164.0  Color
4       NaN    NaN

In [26]:
df.reindex(index=[2,3,1])#重排行

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

In [27]:
df.reindex(index=[1,2,3])#筛选+重排行

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000

In [28]:
df.reindex(index=np.arange(2,10,2),columns=['color','gross','new'])#筛选+重排+新增 行列

   color        gross  new
2  Color  200074175.0  NaN
4    NaN          NaN  NaN
6  Color  336530303.0  NaN
8  Color  458991599.0  NaN

In [29]:
df.columns.size

28

In [30]:
df.rename(index={1:'一'},columns={'director_name':'director_names'},inplace=False).tail(3)

,color,director_names,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [31]:
df.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

In [32]:
(df['duration']>df['num_critic_for_reviews']).value_counts()

False    2648
True     2395
dtype: int64

In [33]:
df.color.value_counts()

Color               4815
 Black and White     209
Name: Color, dtype: int64

In [34]:
df.drop(index=np.arange(2,10,2),columns='color',inplace=False).head()

,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
3,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
7,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,Brad Garrett,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000

# 统计

In [35]:
df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [36]:
df['duration'].describe()

count    5028.000000
mean      107.201074
std        25.197441
min         7.000000
25%        93.000000
50%       103.000000
75%       118.000000
max       511.000000
Name: duration, dtype: float64

In [37]:
df.std()

num_critic_for_reviews       1.216017e+02
duration                     2.519744e+01
director_facebook_likes      2.813329e+03
actor_3_facebook_likes       1.665042e+03
actor_1_facebook_likes       1.502076e+04
gross                        6.845299e+07
num_voted_users              1.384853e+05
cast_total_facebook_likes    1.816380e+04
facenumber_in_poster         2.013576e+00
num_user_for_reviews         3.779829e+02
budget                       2.061149e+08
title_year                   1.247460e+01
actor_2_facebook_likes       4.042439e+03
imdb_score                   1.125116e+00
aspect_ratio                 1.385113e+00
movie_facebook_likes         1.932045e+04
dtype: float64

In [38]:
df.var()

num_critic_for_reviews       1.478697e+04
duration                     6.349110e+02
director_facebook_likes      7.914818e+06
actor_3_facebook_likes       2.772364e+06
actor_1_facebook_likes       2.256232e+08
gross                        4.685812e+15
num_voted_users              1.917817e+10
cast_total_facebook_likes    3.299236e+08
facenumber_in_poster         4.054488e+00
num_user_for_reviews         1.428711e+05
budget                       4.248335e+16
title_year                   1.556156e+02
actor_2_facebook_likes       1.634131e+07
imdb_score                   1.265886e+00
aspect_ratio                 1.918537e+00
movie_facebook_likes         3.732796e+08
dtype: float64

In [39]:
df.mean()

num_critic_for_reviews       1.401943e+02
duration                     1.072011e+02
director_facebook_likes      6.865092e+02
actor_3_facebook_likes       6.450098e+02
actor_1_facebook_likes       6.560047e+03
gross                        4.846841e+07
num_voted_users              8.366816e+04
cast_total_facebook_likes    9.699064e+03
facenumber_in_poster         1.371173e+00
num_user_for_reviews         2.727708e+02
budget                       3.975262e+07
title_year                   2.002471e+03
actor_2_facebook_likes       1.651754e+03
imdb_score                   6.442138e+00
aspect_ratio                 2.220403e+00
movie_facebook_likes         7.525965e+03
dtype: float64

In [40]:
df.median()

num_critic_for_reviews            110.00
duration                          103.00
director_facebook_likes            49.00
actor_3_facebook_likes            371.50
actor_1_facebook_likes            988.00
gross                        25517500.00
num_voted_users                 34359.00
cast_total_facebook_likes        3090.00
facenumber_in_poster                1.00
num_user_for_reviews              156.00
budget                       20000000.00
title_year                       2005.00
actor_2_facebook_likes            595.00
imdb_score                          6.60
aspect_ratio                        2.35
movie_facebook_likes              166.00
dtype: float64

In [41]:
df.count()

color                        5024
director_name                4939
num_critic_for_reviews       4993
duration                     5028
director_facebook_likes      4939
actor_3_facebook_likes       5020
actor_2_name                 5030
actor_1_facebook_likes       5036
gross                        4159
genres                       5043
actor_1_name                 5036
movie_title                  5043
num_voted_users              5043
cast_total_facebook_likes    5043
actor_3_name                 5020
facenumber_in_poster         5030
plot_keywords                4890
movie_imdb_link              5043
num_user_for_reviews         5022
language                     5031
country                      5038
content_rating               4740
budget                       4551
title_year                   4935
actor_2_facebook_likes       5030
imdb_score                   5043
aspect_ratio                 4714
movie_facebook_likes         5043
dtype: int64

In [42]:
df.max()

num_critic_for_reviews       8.130000e+02
duration                     5.110000e+02
director_facebook_likes      2.300000e+04
actor_3_facebook_likes       2.300000e+04
actor_1_facebook_likes       6.400000e+05
gross                        7.605058e+08
num_voted_users              1.689764e+06
cast_total_facebook_likes    6.567300e+05
facenumber_in_poster         4.300000e+01
num_user_for_reviews         5.060000e+03
budget                       1.221550e+10
title_year                   2.016000e+03
actor_2_facebook_likes       1.370000e+05
imdb_score                   9.500000e+00
aspect_ratio                 1.600000e+01
movie_facebook_likes         3.490000e+05
dtype: float64

In [43]:
df.index.is_unique

True

In [44]:
df['imdb_score'].pct_change()#上下数值差距的百分比

0            NaN
1      -0.101266
2      -0.042254
3       0.250000
4      -0.164706
5      -0.070423
6      -0.060606
7       0.258065
8      -0.038462
9       0.000000
10     -0.080000
11     -0.115942
12      0.098361
13      0.089552
14     -0.109589
15      0.107692
16     -0.083333
17      0.227273
18     -0.172840
19      0.014925
20      0.102941
21     -0.066667
22     -0.042857
23      0.179104
24     -0.227848
25      0.180328
26      0.069444
27      0.064935
28     -0.280488
29      0.186441
          ...
5013    0.228070
5014   -0.100000
5015    0.126984
5016   -0.323944
5017   -0.312500
5018    1.090909
5019   -0.333333
5020   -0.347826
5021    1.200000
5022    0.121212
5023   -0.162162
5024   -0.354839
5025    0.525000
5026    0.131148
5027    0.086957
5028   -0.106667
5029    0.104478
5030   -0.175676
5031   -0.114754
5032    0.185185
5033    0.093750
5034   -0.100000
5035    0.095238
5036    0.130435
5037   -0.179487
5038    0.203125
5039   -0.025974
5040   -0.160000
5041    0.000000
5042    0.047619
Name: imdb_score, Length: 5043, dtype: float64

In [45]:
df.sum()

num_critic_for_reviews       6.999900e+05
duration                     5.390070e+05
director_facebook_likes      3.390669e+06
actor_3_facebook_likes       3.237949e+06
actor_1_facebook_likes       3.303640e+07
gross                        2.015801e+11
num_voted_users              4.219385e+08
cast_total_facebook_likes    4.891238e+07
facenumber_in_poster         6.897000e+03
num_user_for_reviews         1.369855e+06
budget                       1.809142e+11
title_year                   9.882192e+06
actor_2_facebook_likes       8.308325e+06
imdb_score                   3.248770e+04
aspect_ratio                 1.046698e+04
movie_facebook_likes         3.795344e+07
dtype: float64

In [46]:
df['gross'].idxmin()

3330

In [47]:
df['gross'].cummin()#依次给出最小值

0       760505847.0
1       309404152.0
2       200074175.0
3       200074175.0
4               NaN
5        73058679.0
6        73058679.0
7        73058679.0
8        73058679.0
9        73058679.0
10       73058679.0
11       73058679.0
12       73058679.0
13       73058679.0
14       73058679.0
15       73058679.0
16       73058679.0
17       73058679.0
18       73058679.0
19       73058679.0
20       73058679.0
21       73058679.0
22       73058679.0
23       73058679.0
24       70083519.0
25       70083519.0
26       70083519.0
27       70083519.0
28       65173160.0
29       65173160.0
           ...
5013            NaN
5014            NaN
5015          162.0
5016            NaN
5017            NaN
5018            NaN
5019            NaN
5020            NaN
5021          162.0
5022            NaN
5023          162.0
5024            NaN
5025          162.0
5026          162.0
5027          162.0
5028            NaN
5029          162.0
5030            NaN
5031            NaN
5032            NaN
5033          162.0
5034          162.0
5035          162.0
5036            NaN
5037          162.0
5038            NaN
5039            NaN
5040            NaN
5041          162.0
5042          162.0
Name: gross, Length: 5043, dtype: float64

In [48]:
df['duration'].cumprod()#依次乘积

0       1.780000e+02
1       3.008200e+04
2       4.452136e+06
3       7.301503e+08
4                NaN
5       9.637984e+10
6       1.503526e+13
7       1.503526e+15
8       2.119971e+17
9       3.243556e+19
10      5.935707e+21
11      1.003134e+24
12      1.063322e+26
13      1.605617e+28
14      2.408425e+30
15      3.444048e+32
16      5.166073e+34
17      8.937306e+36
18      1.215474e+39
19      1.288402e+41
20      2.112979e+43
21      3.232858e+45
22      5.043259e+47
23      9.380461e+49
24      1.059992e+52
25      2.130584e+54
26      4.133333e+56
27      6.076000e+58
28      7.959560e+60
29      9.869855e+62
            ...
5013             inf
5014             inf
5015             inf
5016             inf
5017             inf
5018             inf
5019             inf
5020             inf
5021             inf
5022             inf
5023             inf
5024             inf
5025             inf
5026             inf
5027             inf
5028             inf
5029             inf
5030             inf
5031             inf
5032             inf
5033             inf
5034             inf
5035             inf
5036             inf
5037             inf
5038             inf
5039             inf
5040             inf
5041             inf
5042             inf
Name: duration, Length: 5043, dtype: float64

In [49]:
df['duration'].rolling(2).mean()

0         NaN
1       173.5
2       158.5
3       156.0
4         NaN
5         NaN
6       144.0
7       128.0
8       120.5
9       147.0
10      168.0
11      176.0
12      137.5
13      128.5
14      150.5
15      146.5
16      146.5
17      161.5
18      154.5
19      121.0
20      135.0
21      158.5
22      154.5
23      171.0
24      149.5
25      157.0
26      197.5
27      170.5
28      139.0
29      127.5
        ...
5013     94.0
5014     79.5
5015     90.0
5016     95.0
5017     90.0
5018    105.0
5019    105.5
5020    117.0
5021    114.0
5022     72.5
5023     74.0
5024     83.0
5025     93.0
5026    109.0
5027    100.0
5028     86.5
5029     97.0
5030     97.5
5031     83.0
5032     90.0
5033     87.5
5034     78.5
5035     80.5
5036     82.5
5037     89.5
5038     91.0
5039     65.0
5040     59.5
5041     88.0
5042     95.0
Name: duration, Length: 5043, dtype: float64

## 相关性

In [50]:
df['duration'].cov(df['duration'])# 计算协方差矩阵

634.9110233141984

* Pearson相关系数
	* 取值范围[-1,1]
		* 0.8-1.0
			* 极强相关
		* 0.6-0.8
			* 强相关
		* 0.4-0.6
			* 中等程度相关
		* 0.2-0.4
			* 弱相关
		* 0.0-0.2
            * 极弱相关与无相关

In [51]:
df['duration'].corr(df['duration'])

0.9999999999999996

# NaN缺失值处理

* np.nan

In [52]:
df.isnull().any()

color                         True
director_name                 True
num_critic_for_reviews        True
duration                      True
director_facebook_likes       True
actor_3_facebook_likes        True
actor_2_name                  True
actor_1_facebook_likes        True
gross                         True
genres                       False
actor_1_name                  True
movie_title                  False
num_voted_users              False
cast_total_facebook_likes    False
actor_3_name                  True
facenumber_in_poster          True
plot_keywords                 True
movie_imdb_link              False
num_user_for_reviews          True
language                      True
country                       True
content_rating                True
budget                        True
title_year                    True
actor_2_facebook_likes        True
imdb_score                   False
aspect_ratio                  True
movie_facebook_likes         False
dtype: bool

In [53]:
df['color'].isnull().any()

True

In [54]:
df['color'].isnull().value_counts()

False    5024
True       19
Name: Color, dtype: int64

In [55]:
df.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [56]:
df.dropna(how='any').shape#舍弃任一行为NaN的行

(3756, 28)

In [57]:
df.dropna(thresh=2).shape#舍弃缺失值超过2个的行

(5043, 28)

In [58]:
df.dropna(how='all',axis=1).shape#舍弃整列为NaN的列

(5043, 28)

In [59]:
df.fillna(0,inplace=False).head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

In [60]:
df.fillna(method='ffill',limit=2).tail()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,4584.0,Comedy|Drama,...,6.0,English,Canada,Not Rated,9000.0,2013.0,470.0,7.7,NaN,84
5039,Color,Scott Smith,43.0,43.0,2.0,319.0,Valorie Curry,841.0,4584.0,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,9000.0,2013.0,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,TV-14,1400.0,2013.0,0.0,6.3,16.00,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,1400.0,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [61]:
df.fillna(method='bfill',limit=3).head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,Color,Doug Walker,462.0,132.0,131.0,530.0,Rob Walker,131.0,73058679.0,Documentary,...,738.0,English,USA,PG-13,263700000.0,2012.0,12.0,7.1,2.35,0

In [62]:
df.duration.isnull().any()

True

In [63]:
df['duration'].fillna(df['duration'].median())# 填充为中位数

0       178.0
1       169.0
2       148.0
3       164.0
4       103.0
5       132.0
6       156.0
7       100.0
8       141.0
9       153.0
10      183.0
11      169.0
12      106.0
13      151.0
14      150.0
15      143.0
16      150.0
17      173.0
18      136.0
19      106.0
20      164.0
21      153.0
22      156.0
23      186.0
24      113.0
25      201.0
26      194.0
27      147.0
28      131.0
29      124.0
        ...
5013     79.0
5014     80.0
5015    100.0
5016     90.0
5017     90.0
5018    120.0
5019     91.0
5020    143.0
5021     85.0
5022     60.0
5023     88.0
5024     78.0
5025    108.0
5026    110.0
5027     90.0
5028     83.0
5029    111.0
5030     84.0
5031     82.0
5032     98.0
5033     77.0
5034     80.0
5035     81.0
5036     84.0
5037     95.0
5038     87.0
5039     43.0
5040     76.0
5041    100.0
5042     90.0
Name: duration, Length: 5043, dtype: float64

In [64]:
df.isnull().sum()/df.count()# 各字段缺失值占比

color                        0.003782
director_name                0.021057
num_critic_for_reviews       0.010014
duration                     0.002983
director_facebook_likes      0.021057
actor_3_facebook_likes       0.004582
actor_2_name                 0.002584
actor_1_facebook_likes       0.001390
gross                        0.212551
genres                       0.000000
actor_1_name                 0.001390
movie_title                  0.000000
num_voted_users              0.000000
cast_total_facebook_likes    0.000000
actor_3_name                 0.004582
facenumber_in_poster         0.002584
plot_keywords                0.031288
movie_imdb_link              0.000000
num_user_for_reviews         0.004182
language                     0.002385
country                      0.000992
content_rating               0.063924
budget                       0.108108
title_year                   0.021884
actor_2_facebook_likes       0.002584
imdb_score                   0.000000
aspect_ratio                 0.069792
movie_facebook_likes         0.000000
dtype: float64

# 排序

In [65]:
df.sort_values(by=['duration','gross'],ascending=False).head(3)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
1710,Color,NaN,16.0,511.0,NaN,51.0,Ingvar Eggert Sigurðsson,147.0,NaN,Crime|Drama|Thriller,...,19.0,Icelandic,Iceland,NaN,NaN,NaN,63.0,8.2,16.00,0
2466,Color,NaN,108.0,334.0,NaN,30.0,Nora von Waldstätten,897.0,145118.0,Biography|Crime|Drama|Thriller,...,36.0,English,France,Not Rated,NaN,NaN,30.0,7.7,2.35,0
1501,Color,Taylor Hackford,12.0,330.0,138.0,672.0,Jesse Borrego,848.0,4496583.0,Crime|Drama,...,129.0,English,USA,R,35000000.0,1993.0,674.0,8.0,1.66,6000

In [66]:
df.query("(director_name == 'Taylor Hackford') | (duration > 300)")

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
681,Color,Taylor Hackford,134.0,135.0,138.0,184.0,Alun Armstrong,324.0,32598931.0,Action|Drama|Thriller,...,265.0,English,USA,R,65000000.0,2000.0,192.0,6.2,2.35,892
827,Color,Taylor Hackford,117.0,136.0,138.0,9000.0,Al Pacino,18000.0,60984028.0,Drama|Mystery|Thriller,...,431.0,English,USA,R,57000000.0,1997.0,14000.0,7.5,2.35,11000
1144,Color,Michael Cimino,102.0,325.0,517.0,678.0,Sam Waterston,12000.0,1500000.0,Adventure|Drama|Western,...,189.0,English,USA,R,44000000.0,1980.0,849.0,6.8,2.35,1000
1212,Color,Taylor Hackford,209.0,178.0,138.0,748.0,Curtis Armstrong,904.0,75305995.0,Biography|Drama|Music,...,433.0,English,USA,PG-13,40000000.0,2004.0,876.0,7.7,1.85,0
1478,Color,Taylor Hackford,224.0,118.0,138.0,458.0,Clifton Collins Jr.,26000.0,17609982.0,Action|Crime|Romance|Thriller,...,141.0,English,USA,R,35000000.0,2013.0,968.0,6.2,2.35,17000
1501,Color,Taylor Hackford,12.0,330.0,138.0,672.0,Jesse Borrego,848.0,4496583.0,Crime|Drama,...,129.0,English,USA,R,35000000.0,1993.0,674.0,8.0,1.66,6000
1710,Color,NaN,16.0,511.0,NaN,51.0,Ingvar Eggert Sigurðsson,147.0,NaN,Crime|Drama|Thriller,...,19.0,Icelandic,Iceland,NaN,NaN,NaN,63.0,8.2,16.00,0
2008,Color,Taylor Hackford,49.0,117.0,138.0,416.0,Bai Ling,908.0,134904.0,Comedy|Drama|Romance|Sport,...,17.0,English,USA,R,25000000.0,2010.0,581.0,5.7,1.78,636
2466,Color,NaN,108.0,334.0,NaN,30.0,Nora von Waldstätten,897.0,145118.0,Biography|Crime|Drama|Thriller,...,36.0,English,France,Not Rated,NaN,NaN,30.0,7.7,2.35,0

In [67]:
df.loc[(df['director_name'] == 'Michael Cimino') | ~(df['duration'] < 400)]# 【~】反转，不仅仅是<变成>=

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
199,Color,Matt Birch,1.0,NaN,0.0,159.0,Dave Legeno,10000.0,NaN,Action|Fantasy,...,2.0,English,UK,NaN,NaN,2011.0,570.0,7.5,NaN,40
206,Color,Matt Birch,4.0,NaN,0.0,1000.0,Toby Jones,10000.0,NaN,Fantasy,...,2.0,English,UK,NaN,NaN,2010.0,2000.0,6.4,NaN,25
1144,Color,Michael Cimino,102.0,325.0,517.0,678.0,Sam Waterston,12000.0,1500000.0,Adventure|Drama|Western,...,189.0,English,USA,R,44000000.0,1980.0,849.0,6.8,2.35,1000
1510,Color,Tony Kaye,NaN,NaN,194.0,816.0,Aisha Tyler,970.0,NaN,Crime|Drama,...,NaN,English,USA,NaN,23000000.0,2009.0,856.0,7.2,NaN,26
1710,Color,NaN,16.0,511.0,NaN,51.0,Ingvar Eggert Sigurðsson,147.0,NaN,Crime|Drama|Thriller,...,19.0,Icelandic,Iceland,NaN,NaN,NaN,63.0,8.2,16.00,0
2629,Color,Michael Cimino,140.0,183.0,517.0,652.0,Meryl Streep,22000.0,NaN,Drama|War,...,1026.0,English,UK,R,15000000.0,1978.0,11000.0,8.2,2.35,11000
3604,Color,NaN,10.0,NaN,NaN,502.0,Tuppence Middleton,1000.0,NaN,Drama|History|Romance|War,...,44.0,English,UK,TV-14,NaN,NaN,888.0,8.2,16.00,11000
3815,Color,Marc Bennett,2.0,NaN,3.0,723.0,Natasha Henstridge,975.0,NaN,Comedy|Drama,...,2.0,English,USA,NaN,5000000.0,2012.0,900.0,6.7,NaN,35
3834,Color,Shekar,1.0,NaN,0.0,0.0,Diganth,5.0,NaN,Comedy|Romance,...,1.0,Kannada,India,NaN,NaN,2013.0,0.0,7.1,NaN,2
4299,Color,Kundan Shah,1.0,NaN,4.0,72.0,Bobby Deol,353.0,NaN,Action|Comedy|Romance|Thriller,...,1.0,Hindi,India,NaN,NaN,2000.0,89.0,2.8,NaN,10
4392,Color,David M. Matthews,5.0,NaN,8.0,394.0,Lamman Rucker,713.0,2592808.0,Crime|Drama|Thriller,...,15.0,English,USA,R,NaN,2010.0,607.0,3.5,2.35,588
4397,Color,Romesh Sharma,4.0,NaN,0.0,45.0,Revathy,421.0,129319.0,Romance,...,4.0,English,India,NaN,70000000.0,2005.0,96.0,5.1,NaN,9
4517,Color,NaN,2.0,NaN,NaN,206.0,John Jarratt,511.0,NaN,Drama|Horror|Thriller,...,6.0,English,Australia,NaN,NaN,NaN,457.0,7.1,2.00,954
4609,Color,Wajahat Rauf,6.0,NaN,3.0,4.0,Ayesha Omar,7.0,NaN,Comedy|Family,...,15.0,Urdu,Pakistan,NaN,1000000.0,2015.0,5.0,7.0,NaN,259
4690,Color,Joseph Kosinski,4.0,NaN,364.0,567.0,Lauren Cohan,22000.0,NaN,Action|Adventure|Fantasy|Sci-Fi,...,11.0,English,USA,NaN,NaN,2014.0,4000.0,8.1,NaN,1000
4948,Color,Valentine,NaN,NaN,0.0,NaN,Valentine,17.0,NaN,Romance,...,NaN,English,USA,PG-13,125000.0,2015.0,0.0,5.1,NaN,0
4989,Color,Daniel Mellitz,NaN,NaN,0.0,15.0,Chelse Swain,1000.0,NaN,Comedy|Drama,...,3.0,English,USA,NaN,NaN,2006.0,36.0,4.7,NaN,2

In [68]:
df.gross.rank(method='dense').value_counts()# 排名

2721.0    3
3832.0    3
3737.0    3
821.0     3
1216.0    3
2381.0    3
1061.0    3
3911.0    3
2735.0    2
3132.0    2
1505.0    2
1079.0    2
2549.0    2
3152.0    2
3882.0    2
3583.0    2
3295.0    2
2015.0    2
3293.0    2
2621.0    2
3280.0    2
2647.0    2
1635.0    2
2630.0    2
4000.0    2
2228.0    2
2452.0    2
540.0     2
3839.0    2
3635.0    2
         ..
2628.0    1
3837.0    1
3176.0    1
3157.0    1
2059.0    1
2269.0    1
2551.0    1
2729.0    1
3395.0    1
2069.0    1
3823.0    1
1549.0    1
2031.0    1
3794.0    1
2326.0    1
2021.0    1
2830.0    1
1793.0    1
2747.0    1
3014.0    1
3962.0    1
3221.0    1
2110.0    1
2610.0    1
3383.0    1
2727.0    1
3093.0    1
3275.0    1
3023.0    1
3975.0    1
Name: gross, Length: 4035, dtype: int64

In [69]:
df.drop_duplicates().shape#去重

(4998, 28)

In [70]:
df.color.drop_duplicates()#去重

0                 Color
4                   NaN
111     Black and White
Name: Color, dtype: object

In [71]:
df_g = df.groupby('color')

In [72]:
df_g.groups#.get_group('Color')

{' Black and White': Int64Index([ 111,  149,  257,  272,  286,  301,  393,  479,  497,  520,
             ...
             4962, 4967, 4973, 4980, 4991, 5005, 5008, 5015, 5022, 5028],
            dtype='int64', length=209),
 'Color': Int64Index([   0,    1,    2,    3,    5,    6,    7,    8,    9,   10,
             ...
             5033, 5034, 5035, 5036, 5037, 5038, 5039, 5040, 5041, 5042],
            dtype='int64', length=4815)}

In [73]:
df_g.get_group('Color').head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000

In [74]:
df_g.size()

color
 Black and White     209
Color               4815
dtype: int64

In [75]:
df_g.count().T.head()

color                     Black and White  Color
director_name                         206   4716
num_critic_for_reviews                209   4768
duration                              209   4801
director_facebook_likes               206   4716
actor_3_facebook_likes                209   4794

In [76]:
df_g.max()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,genres,movie_title,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,movie_imdb_link,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
color,,,,,,,,,,,,,,,,,,,
Black and White,576.0,240.0,22000.0,10000.0,45000.0,329691196.0,Thriller|Western,Young Frankenstein,1251222,58528,14.0,http://www.imdb.com/title/tt3973612/?ref_=fn_t...,3400.0,1.500000e+08,2015.0,19000.0,8.9,4.0,109000
Color,813.0,511.0,23000.0,23000.0,640000.0,760505847.0,Western,Æon Flux,1689764,656730,43.0,http://www.imdb.com/title/tt5574490/?ref_=fn_t...,5060.0,1.221550e+10,2016.0,137000.0,9.5,16.0,349000

In [77]:
df_g.mean()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
color,,,,,,,,,,,,,,,,
Black and White,129.004785,112.253589,1251.941748,392.354067,3925.985646,3.245702e+07,95579.679426,5903.354067,1.411483,353.669856,1.907756e+07,1984.029126,1009.511962,7.227273,1.902157,4626.028708
Color,141.047609,107.042908,663.919423,657.093867,6640.256032,4.902619e+07,83405.573624,9836.873105,1.369561,270.034404,4.075648e+07,2003.248197,1683.981886,6.409533,2.231912,7666.744133

In [78]:
df_gs = df.groupby(['language','director_name'])

In [79]:
df_gs.size().unstack().head()#对index的统计

director_name,Phillip Noyce,Sydney Pollack,Amal Al-Agroobi,Jehane Noujaim,Nadine Labaki,Scandar Copti,Serdar Akar,Mel Gibson,Angelina Jolie Pitt,Chia-Liang Liu,...,Kay Pollak,Peter Flinth,Vijay Chandar,S.S. Rajamouli,Chatrichalerm Yukol,Prachya Pinkaew,Tony Jaa,Wajahat Rauf,Ham Tran,Regardt van den Bergh
language,,,,,,,,,,,,,,,,,,,,,
Aboriginal,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arabic,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aramaic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bosnian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cantonese,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
df_gs.mean().unstack().stack().head()#内层 变 内层

                            actor_1_facebook_likes  actor_2_facebook_likes  \
language   director_name
Aboriginal Phillip Noyce                     116.0                    93.0
           Sydney Pollack                    591.0                   249.0
Arabic     Amal Al-Agroobi                     NaN                     NaN
           Jehane Noujaim                    161.0                    10.0
           Nadine Labaki                     227.0                     4.0

                            actor_3_facebook_likes  aspect_ratio      budget  \
language   director_name
Aboriginal Phillip Noyce                      46.0          2.35   6000000.0
           Sydney Pollack                    249.0          2.35  80000000.0
Arabic     Amal Al-Agroobi                     NaN           NaN    125000.0
           Jehane Noujaim                      5.0          1.85   1500000.0
           Nadine Labaki                       0.0          1.85   1300000.0

                            cast_total_facebook_likes  \
language   director_name
Aboriginal Phillip Noyce                        312.0
           Sydney Pollack                      2100.0
Arabic     Amal Al-Agroobi                        0.0
           Jehane Noujaim                       176.0
           Nadine Labaki                        231.0

                            director_facebook_likes  duration  \
language   director_name
Aboriginal Phillip Noyce                      176.0      94.0
           Sydney Pollack                     521.0     128.0
Arabic     Amal Al-Agroobi                     58.0      62.0
           Jehane Noujaim                      63.0     108.0
           Nadine Labaki                        0.0      95.0

                            facenumber_in_poster       gross  imdb_score  \
language   director_name
Aboriginal Phillip Noyce                     1.0   6165429.0         7.5
           Sydney Pollack                    1.0  72515360.0         6.4
Arabic     Amal Al-Agroobi                   1.0         NaN         8.2
           Jehane Noujaim                    0.0         NaN         8.1
           Nadine Labaki                     0.0   1060591.0         7.2

                            movie_facebook_likes  num_critic_for_reviews  \
language   director_name
Aboriginal Phillip Noyce                     0.0                    74.0
           Sydney Pollack                    0.0                   227.0
Arabic     Amal Al-Agroobi                  54.0                     NaN
           Jehane Noujaim                    0.0                    68.0
           Nadine Labaki                     0.0                   109.0

                            num_user_for_reviews  num_voted_users  title_year
language   director_name
Aboriginal Phillip Noyce                   249.0          23486.0      2002.0
           Sydney Pollack                  411.0          86152.0      2005.0
Arabic     Amal Al-Agroobi                   NaN             18.0      2013.0
           Jehane Noujaim                   42.0           6678.0      2013.0
           Nadine Labaki                    66.0           9750.0      2007.0

In [83]:
df_gs.mean().reset_index().set_index(['num_voted_users','gross']).head()# 多级索引

,,language,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
num_voted_users,gross,,,,,,,,,,,,,,,,
23486.0,6165429.0,Aboriginal,Phillip Noyce,74.0,94.0,176.0,46.0,116.0,312.0,1.0,249.0,6000000.0,2002.0,93.0,7.5,2.35,0.0
86152.0,72515360.0,Aboriginal,Sydney Pollack,227.0,128.0,521.0,249.0,591.0,2100.0,1.0,411.0,80000000.0,2005.0,249.0,6.4,2.35,0.0
18.0,NaN,Arabic,Amal Al-Agroobi,NaN,62.0,58.0,NaN,NaN,0.0,1.0,NaN,125000.0,2013.0,NaN,8.2,NaN,54.0
6678.0,NaN,Arabic,Jehane Noujaim,68.0,108.0,63.0,5.0,161.0,176.0,0.0,42.0,1500000.0,2013.0,10.0,8.1,1.85,0.0
9750.0,1060591.0,Arabic,Nadine Labaki,109.0,95.0,0.0,0.0,227.0,231.0,0.0,66.0,1300000.0,2007.0,4.0,7.2,1.85,0.0

# 函数

1. map()
    * 应用到Series的每个元素
2. apply()
    * 应用到df的行或列，或Series
    * 列中最大值-最小值
3. applymap()
    * 数据框的每个元素
4. agg()
    * 不改变数据框的结构

In [84]:
df['color'].map(lambda x:str(x)+'s').head()# Series 的每个元素

0    Colors
1    Colors
2    Colors
3    Colors
4      nans
Name: Color, dtype: object

In [85]:
df['color'].apply(lambda x:str(x)+'s').head()

0    Colors
1    Colors
2    Colors
3    Colors
4      nans
Name: Color, dtype: object

In [86]:
df.groupby(['color','gross'])['title_year','actor_3_facebook_likes'].apply(lambda x:x.max()-x.min()).head()

                          title_year  actor_3_facebook_likes
color            gross
 Black and White 2436.0          0.0                     0.0
                 6013.0          0.0                     0.0
                 7927.0          0.0                     0.0
                 9950.0          0.0                     0.0
                 10018.0         0.0                     0.0

In [87]:
df.applymap(lambda x:str(x)+'k').head()# 应用到df的每个元素

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Colork,James Cameronk,723.0k,178.0k,0.0k,855.0k,Joel David Moorek,1000.0k,760505847.0k,Action|Adventure|Fantasy|Sci-Fik,...,3054.0k,Englishk,USAk,PG-13k,237000000.0k,2009.0k,936.0k,7.9k,1.78k,33000k
1,Colork,Gore Verbinskik,302.0k,169.0k,563.0k,1000.0k,Orlando Bloomk,40000.0k,309404152.0k,Action|Adventure|Fantasyk,...,1238.0k,Englishk,USAk,PG-13k,300000000.0k,2007.0k,5000.0k,7.1k,2.35k,0k
2,Colork,Sam Mendesk,602.0k,148.0k,0.0k,161.0k,Rory Kinneark,11000.0k,200074175.0k,Action|Adventure|Thrillerk,...,994.0k,Englishk,UKk,PG-13k,245000000.0k,2015.0k,393.0k,6.8k,2.35k,85000k
3,Colork,Christopher Nolank,813.0k,164.0k,22000.0k,23000.0k,Christian Balek,27000.0k,448130642.0k,Action|Thrillerk,...,2701.0k,Englishk,USAk,PG-13k,250000000.0k,2012.0k,23000.0k,8.5k,2.35k,164000k
4,nank,Doug Walkerk,nank,nank,131.0k,nank,Rob Walkerk,131.0k,nank,Documentaryk,...,nank,nank,nank,nank,nank,nank,12.0k,7.1k,nank,0k

In [88]:
df.groupby(['color','gross'])[['director_name','language']].agg(lambda x:x).head()

                                director_name language
color            gross
 Black and White 2436.0          Paul Bunnell  English
                 6013.0         Shane Meadows  English
                 7927.0          Orson Welles  English
                 9950.0   Georg Wilhelm Pabst   German
                 10018.0        Eric Nicholas  English

# 透视表

In [89]:
df.pivot_table(index=['color','director_name'],values=['gross','language'],aggfunc={'language':'count','gross':'mean'},fill_value=0).head()

                                        gross  language
color            director_name
 Black and White Akira Kurosawa      269061.0         1
                 Aleksey German           0.0         1
                 Alex Garland      25440971.0         1
                 Alexander Payne   17613460.0         1
                 Alfred Hitchcock  32000000.0         2

# 字符串处理
* Series.str.*

In [90]:
df['director_name'].str.replace(' ','_').head()#替换列中字符串

0        James_Cameron
1       Gore_Verbinski
2           Sam_Mendes
3    Christopher_Nolan
4          Doug_Walker
Name: director_name, dtype: object

In [91]:
df['director_name'].head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [92]:
df['director_name'].str[1:-1].head()#字符串中切片

0        ames Camero
1       ore Verbinsk
2           am Mende
3    hristopher Nola
4          oug Walke
Name: director_name, dtype: object

In [93]:
df['director_name'].apply(lambda x:str(x).split(' ')[0]).head()

0          James
1           Gore
2            Sam
3    Christopher
4           Doug
Name: director_name, dtype: object

# .str.extract() + 正则表达式
* 按样式抽取

df[['a','b','c','d']] = df[''].str.extract('(\d+)室(\d+)厅(\d+)厨(\d+)卫',expand=False)
	* expand=False
		* 非扩充模式

# 分箱

In [94]:
pd.cut(df['imdb_score'],bins=[0,3,6,8,9,10],labels=list('edcba')).head()

0    c
1    c
2    c
3    b
4    c
Name: imdb_score, dtype: category
Categories (5, object): [e < d < c < b < a]

# 分位
* 四分位
* 百分位
* N分位

In [95]:
pd.qcut(df['imdb_score'],4,labels=['Q1','Q2','Q3','Q4']).head()

0    Q4
1    Q3
2    Q3
3    Q4
4    Q3
Name: imdb_score, dtype: category
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

In [96]:
pd.qcut(df['imdb_score'],4).head()

0    (7.2, 9.5]
1    (6.6, 7.2]
2    (6.6, 7.2]
3    (7.2, 9.5]
4    (6.6, 7.2]
Name: imdb_score, dtype: category
Categories (4, interval[float64]): [(1.5990000000000002, 5.8] < (5.8, 6.6] < (6.6, 7.2] < (7.2, 9.5]]

In [135]:
pd.qcut(df['imdb_score'],4,labels=False).head()# 注意数据类型

0    3
1    2
2    2
3    3
4    2
Name: imdb_score, dtype: int64