In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv(r'f:/test/demo_duplicate.csv')

In [3]:
df1.head()

   Unnamed: 0   Price  Seqno Symbol        time
0           0  1623.0    0.0   APPL  1473411962
1           1  1623.0    0.0   APPL  1473411962
2           2  1623.0    0.0   APPL  1473411963
3           3  1623.0    0.0   APPL  1473411963
4           4  1649.0    1.0   APPL  1473411963

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3989 entries, 0 to 3988
Data columns (total 5 columns):
Unnamed: 0    3989 non-null int64
Price         3989 non-null float64
Seqno         3989 non-null float64
Symbol        3989 non-null object
time          3989 non-null int64
dtypes: float64(2), int64(2), object(1)
memory usage: 140.3+ KB

In [5]:
del df1['Unnamed: 0']

In [6]:
df1.head()

    Price  Seqno Symbol        time
0  1623.0    0.0   APPL  1473411962
1  1623.0    0.0   APPL  1473411962
2  1623.0    0.0   APPL  1473411963
3  1623.0    0.0   APPL  1473411963
4  1649.0    1.0   APPL  1473411963

In [7]:
len(df1)

3989

In [8]:
type(df1['Seqno'].duplicated())

pandas.core.series.Series

In [9]:
type(df1['Seqno'].unique())

numpy.ndarray

In [10]:
len(df1['Seqno'].unique())

1000

In [11]:
df1['Seqno'].drop_duplicates()

0         0.0
4         1.0
8         2.0
12        3.0
16        4.0
20        5.0
24        6.0
28        7.0
32        8.0
36        9.0
40       10.0
44       11.0
48       12.0
52       13.0
56       14.0
60       15.0
64       16.0
68       17.0
72       18.0
76       19.0
80       20.0
84       21.0
88       22.0
92       23.0
96       24.0
100      25.0
104      26.0
108      27.0
112      28.0
116      29.0
        ...
3869    970.0
3873    971.0
3877    972.0
3881    973.0
3885    974.0
3889    975.0
3893    976.0
3897    977.0
3901    978.0
3905    979.0
3909    980.0
3913    981.0
3917    982.0
3921    983.0
3925    984.0
3929    985.0
3933    986.0
3937    987.0
3941    988.0
3945    989.0
3949    990.0
3953    991.0
3957    992.0
3961    993.0
3965    994.0
3969    995.0
3973    996.0
3977    997.0
3981    998.0
3985    999.0
Name: Seqno, Length: 1000, dtype: float64

In [12]:
df1.drop_duplicates(['Seqno'])

       Price  Seqno Symbol        time
0     1623.0    0.0   APPL  1473411962
4     1649.0    1.0   APPL  1473411963
8     1642.0    2.0   APPL  1473411964
12    1636.0    3.0   APPL  1473411965
16    1669.0    4.0   APPL  1473411966
20    1639.0    5.0   APPL  1473411967
24    1611.0    6.0   APPL  1473411968
28    1660.0    7.0   APPL  1473411969
32    1657.0    8.0   APPL  1473411970
36    1509.0    9.0   APPL  1473411971
40    1514.0   10.0   APPL  1473411972
44    1676.0   11.0   APPL  1473411973
48    1596.0   12.0   APPL  1473411974
52    1527.0   13.0   APPL  1473411975
56    1643.0   14.0   APPL  1473411976
60    1632.0   15.0   APPL  1473411977
64    1595.0   16.0   APPL  1473411978
68    1565.0   17.0   APPL  1473411979
72    1521.0   18.0   APPL  1473411980
76    1501.0   19.0   APPL  1473411981
80    1579.0   20.0   APPL  1473411982
84    1511.0   21.0   APPL  1473411983
88    1513.0   22.0   APPL  1473411984
92    1687.0   23.0   APPL  1473411985
96    1539.0   24.0   APPL  1473411986
100   1682.0   25.0   APPL  1473411987
104   1534.0   26.0   APPL  1473411988
108   1628.0   27.0   APPL  1473411989
112   1582.0   28.0   APPL  1473411990
116   1540.0   29.0   APPL  1473411991
...      ...    ...    ...         ...
3869  1649.0  970.0   APPL  1473412932
3873  1696.0  971.0   APPL  1473412933
3877  1596.0  972.0   APPL  1473412934
3881  1664.0  973.0   APPL  1473412935
3885  1539.0  974.0   APPL  1473412936
3889  1654.0  975.0   APPL  1473412937
3893  1573.0  976.0   APPL  1473412938
3897  1695.0  977.0   APPL  1473412939
3901  1584.0  978.0   APPL  1473412940
3905  1607.0  979.0   APPL  1473412941
3909  1676.0  980.0   APPL  1473412942
3913  1665.0  981.0   APPL  1473412943
3917  1540.0  982.0   APPL  1473412944
3921  1546.0  983.0   APPL  1473412945
3925  1646.0  984.0   APPL  1473412946
3929  1648.0  985.0   APPL  1473412947
3933  1647.0  986.0   APPL  1473412948
3937  1602.0  987.0   APPL  1473412949
3941  1562.0  988.0   APPL  1473412950
3945  1629.0  989.0   APPL  1473412951
3949  1683.0  990.0   APPL  1473412952
3953  1649.0  991.0   APPL  1473412953
3957  1698.0  992.0   APPL  1473412954
3961  1566.0  993.0   APPL  1473412955
3965  1597.0  994.0   APPL  1473412956
3969  1641.0  995.0   APPL  1473412957
3973  1581.0  996.0   APPL  1473412958
3977  1674.0  997.0   APPL  1473412959
3981  1680.0  998.0   APPL  1473412960
3985  1509.0  999.0   APPL  1473412961

[1000 rows x 4 columns]

In [13]:
df1.drop_duplicates(['Seqno'],keep='last')

       Price  Seqno Symbol        time
3     1623.0    0.0   APPL  1473411963
7     1649.0    1.0   APPL  1473411964
11    1642.0    2.0   APPL  1473411965
15    1636.0    3.0   APPL  1473411966
19    1669.0    4.0   APPL  1473411967
23    1639.0    5.0   APPL  1473411968
27    1611.0    6.0   APPL  1473411969
31    1660.0    7.0   APPL  1473411970
35    1657.0    8.0   APPL  1473411971
39    1509.0    9.0   APPL  1473411972
43    1514.0   10.0   APPL  1473411973
47    1676.0   11.0   APPL  1473411974
51    1596.0   12.0   APPL  1473411975
55    1527.0   13.0   APPL  1473411975
59    1643.0   14.0   APPL  1473411976
63    1632.0   15.0   APPL  1473411977
67    1595.0   16.0   APPL  1473411979
71    1565.0   17.0   APPL  1473411979
75    1521.0   18.0   APPL  1473411980
79    1501.0   19.0   APPL  1473411982
83    1579.0   20.0   APPL  1473411983
87    1511.0   21.0   APPL  1473411983
91    1513.0   22.0   APPL  1473411985
95    1687.0   23.0   APPL  1473411986
99    1539.0   24.0   APPL  1473411987
103   1682.0   25.0   APPL  1473411988
107   1534.0   26.0   APPL  1473411989
111   1628.0   27.0   APPL  1473411990
115   1582.0   28.0   APPL  1473411991
119   1540.0   29.0   APPL  1473411991
...      ...    ...    ...         ...
3872  1649.0  970.0   APPL  1473412933
3876  1696.0  971.0   APPL  1473412934
3880  1596.0  972.0   APPL  1473412935
3884  1664.0  973.0   APPL  1473412936
3888  1539.0  974.0   APPL  1473412937
3892  1654.0  975.0   APPL  1473412938
3896  1573.0  976.0   APPL  1473412939
3900  1695.0  977.0   APPL  1473412939
3904  1584.0  978.0   APPL  1473412941
3908  1607.0  979.0   APPL  1473412942
3912  1676.0  980.0   APPL  1473412943
3916  1665.0  981.0   APPL  1473412943
3920  1540.0  982.0   APPL  1473412945
3924  1546.0  983.0   APPL  1473412945
3928  1646.0  984.0   APPL  1473412946
3932  1648.0  985.0   APPL  1473412948
3936  1647.0  986.0   APPL  1473412949
3940  1602.0  987.0   APPL  1473412950
3944  1562.0  988.0   APPL  1473412951
3948  1629.0  989.0   APPL  1473412951
3952  1683.0  990.0   APPL  1473412953
3956  1649.0  991.0   APPL  1473412954
3960  1698.0  992.0   APPL  1473412955
3964  1566.0  993.0   APPL  1473412955
3968  1597.0  994.0   APPL  1473412957
3972  1641.0  995.0   APPL  1473412958
3976  1581.0  996.0   APPL  1473412959
3980  1674.0  997.0   APPL  1473412960
3984  1680.0  998.0   APPL  1473412961
3988  1509.0  999.0   APPL  1473412962

[1000 rows x 4 columns]

In [14]:
df = pd.DataFrame([[1,2,3],[1,5,6],[7,8,9]],columns=list('abc'))
df

   a  b  c
0  1  2  3
1  1  5  6
2  7  8  9

In [15]:
df.drop_duplicates(['a'],keep=False)

   a  b  c
2  7  8  9